<div id="popup-send-mail">
    <form method="POST" action="[% c.uri_for('/zaak/' _ zaak.nr _ '/documents/' _ (document_depth.id || 0) _ '/add_mail') %]" enctype="multipart/form-data" class="zvalidate">
    <input type="hidden" name="documenttype" value="mail">
    <table>
        <tbody>
            <tr>
                <td class="td-label">Selecteer type ontvanger:</td>
                <td>
                    <div class="radio-item"><input type="radio" name="rcpt_type" value="medewerker" checked="checked" id="behandelaar"><label for="behandelaar">Behandelaar</label></div>
                    <div class="radio-item"><input type="radio" name="rcpt_type" value="aanvrager" id="aanvrager"><label for="aanvrager">Aanvrager ([% zaak.aanvrager.naam %])</label></div>
                    <div class="radio-item"><input type="radio" name="rcpt_type" value="overig" id="overig"><label for="overig">Overig</label></div>
                </td>
                <td>[% PROCESS widgets/general/validator.tt %]</td>
            </tr>
                [% INCLUDE widgets/betrokkene/select.tt 
                    instance_id = 'notificaties_ztc_aanvrager_id'
                    input_name = 'medewerker_betrokkene_id'
                    allow_internal = 1
                    allow_external = 0
                    row_classes = ['ezra_notificatie_rcpt_behandelaar']
                    label = 'Selecteer een collega:'
                    betrokkene_type = 'medewerker'
                    betrokkene_id = params.behandelaar
                %]
            [% IF notificaties.count %]
                <tr class="bibliotheek_notificatie">
                    <td class="table_td_left_zaakinformatie">E-mailsjabloon:</td>
                    <td class="table_td_right_zaakinformatie">
                            <input type="radio" name="mailtype" value="bibliotheek_notificatie" checked="checked"/> Kies sjabloon:
                            <div class="ezra_bibliotheek_notificatie">
                                <select name="zaaktype_notificatie_id">
                                    [% WHILE(notificatie = notificaties.next()) %]
                                        <option value="[% notificatie.id %]">[% notificatie.bibliotheek_notificaties_id.label %]</option>
                                    [% END %]
                                </select>
                            </div>
                            <br/>
                            <input type="radio" name="mailtype" value="specific_mail"/> Of schrijf specifieke e-mail:
                    </td>
                    <td>[% PROCESS widgets/general/validator.tt %]</td>
                </tr>
            [% ELSE %]
                <input type="hidden" name="mailtype" value="specific_mail"/>
            [% END %]

            <tr id="email" [% IF notificaties.count %]style="display:none;"[% END %]>
                <td class="td-label">E-mailadres:</td>
                <td>
                    <input type="text" name="rcpt" class="large290" />
                </td>
                <td>[% PROCESS widgets/general/validator.tt %]</td>
            </tr>
            <tr class="specific_mail" [% IF notificaties.count %]style="display:none;"[% END %]>
                <td class="td-label">Onderwerp</td>
                <td><input type="text" name="subject" class="large290"/></td>
                <td></td>
            </tr>
            <tr class="specific_mail" [% IF notificaties.count %]style="display:none;"[% END %]>
                <td class="email_ontvanger_constraint td-label">Bericht:</td>
                <td>
                    <textarea name="message" rows="10" cols="60" class="large"></textarea>
                </td>
                <td>[% PROCESS widgets/general/validator.tt %]</td>
            </tr>
           </tbody>
        </table>
        <div class="form-actions">
            <input id="dialog-submit" type="submit" class="button button-primary" value="Verzenden">
        </div>
    </form>
</div>
