<div class="object-search-result-compact">
	<zs-icon
		icon-type="hexagon"
		class="object-icon"
	></zs-icon>
	<div class="object-meta">
		<div class="object-label">
			{{::item.label}}
		</div>
		<div class="object-uuid">
			{{::item.id}}
		</div>
	</div>
</div>
