<div class="widget-choose-search">

	<div>
		<span class="list-title">Standaard zoekopdrachten</span>


		<zs-dashboard-widget-search-select-list-group
			data-items="zsDashboardWidgetSearchSelectList.getPredefinedSearches()"
			on-select="zsDashboardWidgetSearchSelectList.handleItemSelect($item)"
		>
		</zs-dashboard-widget-search-select-list-group>
	</div>

	<div>
		<span class="list-title">Opgeslagen zoekopdrachten</span>

		<zs-dashboard-widget-search-select-list-group
			data-items="zsDashboardWidgetSearchSelectList.getUserDefinedSearches()"
			on-select="zsDashboardWidgetSearchSelectList.handleItemSelect($item)"
		>
		</zs-dashboard-widget-search-select-list-group>

		<zs-resource-pagination
			data-resource="zsDashboardWidgetSearchSelectList.getResource()"
		>
		</zs-pagination>

	</div>

</div>
