// Dossier

.pip-case-component{
    margin:0 0 3.5em 0;
    h2{margin:0 0 10px;}
}

.ie8 .pip-case-component h2{
    margin:0;
}

    // Form

    .pip-case-form-phase{
        margin-bottom:2px;
    }

    .pip-case-form-phase-title{
        padding:.8em;
        font-weight: bold;
        width:100%;
        display: block;
        font-size:1em;
        text-align: left;

        span{
            font-weight: normal;
            i{font-size:1.2em;margin-right:2px;}
        }
    }

    .pip-case-form-phase-title-primary{
        display: inline-block;
        vertical-align: middle;
    }

    .pip-case-form-phase-title-meta{
        float:right;
    }

    .pip-case-form-phase-title-text{
        display: inline-block;
    }

    .pip-case-form-phase-title-icon{
        width:16px;
        display: inline-block;
        text-align:center;
        margin-right:2px;
    }

    .pip-case-form-phase-inactive{
        @include opacity(.5);
        &:hover{
            cursor:default;
        }
    }

    .pip{
        .kenmerk-label{
            margin-top: 0;
        }
        .kenmerk-veld{
            label{line-height: 1.5;}
            //padding:10px 0;
            line-height: 1.5;
            ul{list-style:disc;
            li{
                //margin-left:20px;
                }
            }
        }
        .kenmerk-empty{
            padding:15px 0;
            margin:0;
            border-bottom:1px solid #ddd;
            font-size:1em;
            color:#999;
        }
        .field-help{
            .icon-question-sign{
                color:$primary-color;
                &:hover{
                    color:black;
                }
            }
        }
    }

    .pip .kenmerk ul{
        margin-left: 17px;
    }

    // Message

    .pip-case-message{
        textarea{
            width:100%;
            display:block;
            &.ng-dirty.ng-invalid, &.ng-dirty.ng-invalid{
                @include box-shadow(none);
                border-color: #bbb;
            }
        }
    }

    .pip-case-message-field{
        margin:0 0 10px;

        .description-wrapper {
            display: flex;

            .description {
                flex: 1;
            }
        }

        p{
            margin:10px 0;
        }
    }    

    .pip-case-message-email-copy{
        margin:0 0 10px;
    }
