<ul class="widget-favorite-list list list-hide-actions"
	data-dragula="'favorites'"
	>
	<li
		class="widget-favorite list-item"
		ng-repeat="favorite in zsDashboardWidgetFavorite.getFavorites() track by favorite.id"
		ng-switch="!!action.url"
	>
		<div class="widget-favorite-drag list-item-drag">
			<i class="mdi mdi-drag-vertical widget-favorite-drag-handle"></i>
		</div>
		<zs-icon icon-type="cube" class="widget-favorite-list-item-icon"></zs-icon>
		<a
			class="widget-favorite-link list-item-anchor"
			ng-href="{{favorite.url}}"
			ng-switch-default
		>
			{{favorite.label}}
		</a>
		<button
			class="widget-favorite-link list-item-anchor"
			ng-switch-when="false"
			ng-click="favorite.click()"
		>
			{{favorite.label}}
		</button>
		<div class="list-item-actions">
			<button class="widget-favorite-remove list-item-single-action" ng-click="zsDashboardWidgetFavorite.removeFavorite(favorite)">
				<i class="mdi mdi-close"></i>
			</button>
		</div>
	</li>
</ul>

<zs-object-suggest
	class="widget-favorite-suggest"
	on-select="zsDashboardWidgetFavorite.handleObjectSuggest($object)"
	data-type="zsDashboardWidgetFavorite.getObjectType()"
	placeholder="{{zsDashboardWidgetFavorite.placeholder}}"
	is-fixed="true"
>
</zs-object-suggest>
