
<div class="mor-nav__pusher"></div>

<div class="mor-nav__container"
	ng-style="morNav.getBgContainerStyle()"
	>

	<div class="mor-nav__bg" ng-style="morNav.getContainerStyle()">
	</div>

	<div class="mor-nav__title">
		<h1>{{morNav.getViewportTitle()}}</h1>
	</div>

	<div class="mor-nav__tabs">
		<a ui-sref-active="active" ui-sref="caseList({ caseType: 'open', paging: 10 })">
			<span>Open</span>
		</a>
		<a ui-sref-active="active" ui-sref="caseList({ caseType: 'afgehandeld', paging: 10 })">
			<span>Afgehandeld</span>
		</a>
		<div class="mor-nav__tabs-slidecontainer">
			<div class="mor-nav__tabs-slide"></div>
		</div>
	</div>

	<div class="mor-nav__button-bar" ng-class="{'active' : !morNav.searchActive}">
		<button data-name="search" ng-click="morNav.handleSearchToggle()">
			<zs-icon icon-type="magnify"></zs-icon>
		</button>
		<button data-name="logout" ng-click="morNav.handleLogout()">
			<zs-icon icon-type="power"></zs-icon>
		</button>
	</div>

	<div class="mor-nav__search" ng-class="{'active' : morNav.isSearchVisible() }" zs-click-outside="morNav.handleClickOutside()" on-click-outside-event="mouseup">
		<div class="mor-nav__inputcontainer">
			<zs-icon class="mor-nav__searchicon" icon-type="magnify"></zs-icon>
			<div class="mor-nav__searchfilterlabel" ng-repeat="item in morNav.getActiveFilters()">
				<span>{{item}}</span>
				<zs-icon ng-click="morNav.removeFilter(item)" icon-type="close"></zs-icon>
			</div>
			<input class="mor-nav__searchinput"
				ng-change="morNav.searchIndex()"
				ng-model="morNav.searchQuery"
				focus-on-condition="morNav.searchActive"
				type="text"
				placeholder="Filter de meldingen..."
				ng-keyup="morNav.handleSearchKeyUp($event)"
			/>
			<button class="mor-nav__clearbutton" ng-click="morNav.handleSearchToggle()">
				<zs-icon icon-type="close-circle"></zs-icon>
			</button>
		</div>

		<zs-suggestion-list
			suggestions="morNav.getSuggestions()"
			on-select="morNav.handleSuggestionSelect($suggestion, $event)"
			key-input-delegate="morNav.getKeyInputDelegate()"
			ng-show="morNav.getSuggestions().length && morNav.searchQuery.length > 0"
			class="mor-nav__searchresults"
		>
		</zs-suggestion-list>

	</div>

</div>
