[% USE Scalar %]
<div>
    <form method="POST" action="[% c.uri_for('/pip/zaak/' _ zaak.nr _ '/update/kenmerk') %]">
        <input type="hidden" name="confirmed" value="1" />
        <input type="hidden" name="update" value="[% update %]" />
        <input type="hidden" name="referer" value="[% c.req.referer %]" />
        [% FOREACH value IN kenmerk_value %]
            <input type="hidden" name="kenmerk_value" value="[% value %]" />
        [% END %]
        <table class="form">
        <!-- Coordinator wijzigen -->
            <tr class="opties_blok">
               <td class="opties_blok_label td250">
                    Wijzig kenmerk:
                </td>
                <td class="opties_blok_actie tdvar">
                    [% kenmerk.label || kenmerk.bibliotheek_kenmerken_id.naam %]
                </td>
                <td class="td300">
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded-right">
                            <span></span>
                        </div>
                    </div>
                    <div style="display: none;" class="tooltip-test-wrap">
                        <div class="tooltip-test rounded">
                            Naam van het te wijzigen kenmerk.
                        </div>
                        <div class="tooltip-test-tip"></div>
                    </div>
                </td>
            </tr>
            <tr class="opties_blok">
               <td class="opties_blok_label">
                    Nieuwe waarde:
                </td>
                <td class="opties_blok_actie">
                [% kenmerk.value_type %]
                    [% INCLUDE widgets/general/veldoptie_view.tt
                        veldoptie_type  = kenmerk.bibliotheek_kenmerken_id.value_type
                        veldoptie_value = kenmerk_value
                    %]


                </td>
                <td>
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded-right">
                            <span></span>
                        </div>
                    </div>
                    <div style="display: none;" class="tooltip-test-wrap">
                        <div class="tooltip-test rounded">
                            Nieuwe waarde van het kenmerk.
                        </div>
                        <div class="tooltip-test-tip"></div>
                    </div>
                </td>
            </tr>
            <tr class="opties_blok">
               <td class="opties_blok_label">
                    Toelichting met betrekking tot deze wijziging:
                </td>
                <td class="opties_blok_actie">
                    <textarea name="toelichting"></textarea>
                </td>
                <td>
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded-right">
                            <span></span>
                        </div>
                    </div>
                    <div style="display: none;" class="tooltip-test-wrap">
                        <div class="tooltip-test rounded">
                            Geef hier een korte omschrijving over deze
                            wijziging.
                        </div>
                        <div class="tooltip-test-tip"></div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="form-actions">
            <a href="[% c.req.referer %]" title="Annuleren"><input type="button" value="Annuleren" class="button button-primary left" /></a>
            <input type="submit" value="Opslaan" class="button button-primary right" id="dialog-submit"/>
        </div>
    </form>
</div>
