[% USE Scalar %]

            <div class="next-status-block next-status-block-with-table">
                <div id="next_status_subzaak">

                    <h2 class="blue">
                        [% component_counter = component_counter || 0 %]
                        [% component_counter = component_counter + 1; component_counter %].
                        [% vervolgsubzakenstring %] starten
                    </h2>

                    <table class="margin5px subzaken" cellspacing="0" id="next_status_subzaak">
                    <thead>
                        <tr>
                            <th class="td30">Starten?</th>
                            [% IF zaak.is_volgende_afhandel_fase %]
                            <th class="td80 hor_center">Direct openen</th>
                            [% END %]
                            <th class="td200">Zaaktype</th>
                            <th class="td100">Vorm</th>
                            <th class="td100">Starten na</th>
                            <th class="td20"></th>
                            <th class="td20"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row_template" style="display:none;">
                            <td>
                                <input type="checkbox" name="status_zaaktype_run" value="1">
                            </td>
                            [% IF zaak.is_volgende_afhandel_fase %]
                            <td class=" hor_center">
                                <input type="radio" name="status_zaaktype_open" value="" />
                            </td>
                            [% END %]
                            <td>
                                <input type="hidden" name="status_zaaktype_id" value="">
                                <p class="description"></p>
                            </td>
                            <td>
                                <select name="status_zaaktype_deelrelatie" class="ezra_milestone_zaak_type">
                                    [% IF zaak.is_volgende_afhandel_fase %]
                                        <option
                                        value="[% ZCONSTANTS.subzaken_vervolgzaak %]"
                                        class="has_start_delay">
                                            Vervolgzaak (periode)
                                        </option>
                                        <option
                                        value="[% ZCONSTANTS.subzaken_vervolgzaak %]"
                                        class="vervolgzaak_datum has_start_delay">
                                            Vervolgzaak (datum)
                                        </option>
                                    [% ELSE %]
                                    <option
                                    value="[% ZCONSTANTS.subzaken_deelzaak %]">
                                        Deelzaak
                                    </option>
                                    [% END %]
                                    <option
                                    value="[% ZCONSTANTS.subzaken_gerelateerd %]">
                                        Gerelateerde zaak
                                    </option>
                                </select>
                            </td>
                            <td class="ezra_milestone_zaak_type_starten">
                                <input type="text" name="status_zaaktype_start" value="0" size=4>
                                <span class="label_dagen">dagen</label>
                            </td>
                            <td>
                                <a href="[% c.uri_for('/zaak/' _ zaak.nr _ '/status/next/zaaktype_kenmerken'); %]" title="Deel-/vervolgzaak bewerken" class="document_row_del edit icon-edit icon-graphic icon"></a>
                            </td>
                            <td>
                                <a href="#" class="delete_row icon-del icon"></a>
                            </td>
                        </tr>
                    [% relatiecounter = 0 %]
                    [% zaaktype_relaties = zaak.volgende_fase.scalar.zaaktype_relaties.scalar.search( {}, { order_by => 'id' }); %]


                    [% WHILE (relatie = zaaktype_relaties.next) %]
                        <tr id="next_status_subzaak_subzaken_[% relatiecounter = relatiecounter+1; relatiecounter %]">
                            <td>
                                <input type="checkbox" name="status_zaaktype_run_[% relatiecounter %]" value="1"[% (relatie.status ? ' checked="checked"' : '') %]>
                            </td>
                            [% IF zaak.is_volgende_afhandel_fase %]
                            <td>
                                <input type="radio" name="status_zaaktype_open" value="[% relatie.get_column('relatie_zaaktype_id') %]"[% (relatiecounter < 2 ? ' checked="checked"' : '') %] />
                            </td>
                            [% END %]
                            <td>
                                <input type="hidden" name="status_zaaktype_id_[% relatiecounter %]" value="[% relatie.get_column('relatie_zaaktype_id') %]">
                                <p class="description">[% relatie.relatie_naam %]</p>
                            </td>
                            <td>
                                <select name="status_zaaktype_deelrelatie_[% relatiecounter %]" class="ezra_milestone_zaak_type">
                                    [% IF zaak.is_volgende_afhandel_fase %]
                                        <option
                                        [% ( (
                                            relatie.relatie_type == ZCONSTANTS.subzaken_vervolgzaak &&
                                            (!relatie.delay_type || relatie.delay_type == 'dagen')
                                            ) ? 'selected="selected"' : '' )
                                        %]
                                        value="[% ZCONSTANTS.subzaken_vervolgzaak %]"
                                        class="has_start_delay">
                                            Vervolgzaak (periode)
                                        </option>
                                        <option
                                        [% ( (
                                            relatie.relatie_type == ZCONSTANTS.subzaken_vervolgzaak &&
                                            relatie.delay_type == 'datum'
                                            ) ? 'selected="selected"' : '' )
                                        %]
                                        value="[% ZCONSTANTS.subzaken_vervolgzaak %]"
                                        class="vervolgzaak_datum has_start_delay">
                                            Vervolgzaak (datum)
                                        </option>
                                    [% ELSE %]
                                        <option
                                        [% (
                                            relatie.relatie_type == ZCONSTANTS.subzaken_deelzaak
                                                ? 'selected="selected"' : ''
                                        ) %]
                                        value="[% ZCONSTANTS.subzaken_deelzaak %]">
                                            Deelzaak
                                        </option>
                                    [% END %]
                                    <option
                                    [% (
                                        relatie.relatie_type == ZCONSTANTS.subzaken_gerelateerd
                                            ? 'selected="selected"' : ''
                                    ) %]
                                    value="[% ZCONSTANTS.subzaken_gerelateerd %]">
                                        Gerelateerde zaak
                                    </option>
                                </select>
                            </td>
                            <td class="ezra_milestone_zaak_type_starten">
                                <input type="text" name="status_zaaktype_start_[% relatiecounter %]" value="[% (relatie.start_delay ? relatie.start_delay : '0') %]" size=4><span class="label_dagen">dagen</label>
                            </td>
                            <td>
                                <a href="[% c.uri_for('/zaak/' _ zaak.nr _ '/status/next/zaaktype_kenmerken'); %]?destination=status_zaaktype_id_[% relatiecounter %]" title="Deel-/vervolgzaak bewerken" class="document_row_del ezra_dialog icon-edit icon-graphic icon"></a>
                            </td>
                            <td>
                                <a href="#" class="delete_row icon-del icon"></a>
                            </td>
                        </tr>[% END %]
                    </tbody>
                    
                    </table>
                    <a href="/zaaktype/search" title="Vervolgzaak toevoegen" rel="status: [% c.req.params.status %]" class="knop knop-margin-top status_definition_add_subzaak knop-bootstrap"><i class="icon icon-add"></i> Een [% vervolgsubzakenstringe %] toevoegen</a>
                </div>
            </div>
