[% RETURN IF c.user_exists -%]


	


        </div>


            

    </div>


<footer class="no_solr">
    <div id="footer_wrapper">

        <section class="footer-wrap footerinfo">
            <!--div class="back-top next no_solr" style="display: block;">
                <a href="#top">
                    <span class="mdi mdi-chevron-up"></span>
                    <span class="btn_up_title">Ga naar boven</span>
                </a>
            </div-->
            <div class="container">
                <div class="wysiwyg box_1">
                    <h2>Bezoekadres</h2>
                    <p>Marktplein 1&nbsp;<br>
                    8161 EE&nbsp; EPE</p>
                    <p><a href="http://www.epe.nl/direct-regelen/onderwerpen_41465//product/routebeschrijving-gemeentehuis_919.html?">Routebeschrijving </a></p>
                    <p><a class="knop contact" href="https://mijn.epe.nl/zaak/create/webformulier?zaaktype_id=207&amp;sessreset=1&amp;aanvrager=betrokkene-natuurlijk_persoon-1&amp;afronden=1&amp;ztc_aanvrager_type=unknown" title="Ga naar contactformulier gemeente Epe">Contactformulier <i class="mdi mdi-comment-outline"></i></a></p>
                </div>
                <div class="wysiwyg box_2">
                    <h2>Postadres</h2>
                    <p>Postbus 600<br>
                    8160 AP&nbsp; EPE</p>
                    <h2>Telefoonnummer</h2>
                    <p>14 0578</p>
                </div>
                <div class="koppelbox box_3">
                    <ul>
                        <li class="first odd no_link">
                            <h2>Meer informatie</h2>
                        </li>
                        <li class="even">
                            <i class="mdi mdi-chevron-right"></i>
                            <a href="http://www.epe.nl/home/sitemap_41577/">Sitemap</a>
                        </li>
                        <li class="odd">
                            <i class="mdi mdi-chevron-right"></i>
                            <a href="http://www.epe.nl/bestuur-en-organisatie/inloggen-raadsnet_41583/">Inloggen raadsnet</a>
                        </li>
                        <li class="even">
                            <i class="mdi mdi-chevron-right"></i>
                            <a href="http://www.epe.nl/bestuur-en-organisatie/proclaimer_41918/">Proclaimer</a>
                        </li>
                        <li class="odd">
                            <i class="mdi mdi-chevron-right"></i>
                            <a href="http://www.epe.nl/bestuur-en-organisatie/archief-website_41982/">Archief website</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div> 
</footer>



[% INCLUDE layouts/default_helper_diffs.tt %]
[% IF !c.user_exists && !pip %]
</div>
[% END %]

</body>
</html>