<div 
	class="notification-list-header"
	ng-class="{ 'no-notifications': !vm.getNotifications().length }"
>
	Notificaties
	<div class="notification-list-header-buttons">
		<zs-spinner class="spinner-tiny" is-loading="vm.isLoading()"></zs-spinner>
		<button
			ng-click="vm.archiveAllNotifications()"
			ng-if="vm.getNotifications().length"
			zs-tooltip="Alle notificaties archiveren"
			aria-label="Alle notificaties archiveren"
		>
			<zs-icon icon-type="check-all"></zs-icon>
		</button>
		<button 
			ng-click="vm.onCloseNotifications()"
			zs-tooltip="Sluiten"
			aria-label="Sluiten"
		>
			<zs-icon icon-type="close"></zs-icon>
		</button>
	</div>
</div>

<div 
	class="notifications"
	ng-if="vm.getNotifications().length"
>

	<ul class="notification-list">

		<li ng-repeat="notification in vm.getNotifications() track by notification.id">	

			<zs-notification-list-item
				data-notification="notification"
				ng-class="::notification.classes"
				ng-click="vm.navigateToNotificationLink(notification)"
				on-archive="vm.archiveNotification($id)"
			>
			</zs-notification-list-item>

		</li>

	</ul>

	<div class="notification-read-more">

		<button
			class="btn btn-secondary"
			ng-click="vm.onReadMore()"
			ng-show="!vm.isLoading()"
		>
			Meer notificaties
		</button>

		<zs-spinner
			class="spinner-small"
			is-loading="vm.isLoading()"
			ng-show="vm.isLoading()"
		>
		</zs-spinner>


	</div>

</div>

<div 
	class="notifications"
	ng-if="!vm.getNotifications().length"
>

	<div class="notifications-no-notifications">
		<zs-icon icon-type="bell-outline"></zs-icon>

		Je hebt geen notificaties

	</div>

</div>
