@import '../../../../shared/styles/_variables.scss';


zs-case-send-email{
	padding-top:.5rem;
	display: block;
	input[type=text],
	input[type=email],
	textarea{
		//border-top:none;
	}
	input[type=text],
	input[type=email],
	textarea{
		//border-right:0;
		//border-left:0;
		padding:.7rem .5rem;
		&:focus{
			outline:0;
		}
	}
	textarea{
		height:400px;
	}
	.vorm-field-item,
	.form-field-control-wrapper{
		padding:.2rem .5rem;
	}
	.form-field-required,
	.form-field-meta{
		display: none;
	}
	[data-name="template"],
	[data-name="recipient_type"],
	[data-name="betrokkene_role"] {
		vorm-field{
			display: flex;
		}
		.form-field-meta{
			display: inline-block;
			width:130px;
			padding:0 .7rem;
		}
		.form-field-label{
			font-size:1rem;
		}
	}
	[data-label="Type ontvanger"]{
		padding-bottom:.5rem;
	}
	//temp styles
	.value-validity{
		display: none;
	}
	.no-recipient{
		background: $secondary-button-color;
		padding:.5rem .7rem;
	}
	.custom-html-template{
		background: $secondary-button-color;
		padding:.5rem .7rem;
  }
  
  .form-actions .btn {
    margin-left: 8px;
  }
}
