<div>
  <zs-email-preview
    ng-show="$ctrl.getPreviewActive()"
    case-id="$ctrl.caseId()"
    preview-data="$ctrl.getPreviewData()"
    email-template-data="$ctrl.emailTemplateData()"
  ></zs-email-preview>
  
  <!-- we use novalidate to allow multiple email addresses -->
  <form ng-submit="$ctrl.handleSubmit()" ng-show="!$ctrl.getPreviewActive()" novalidate>
    <vorm-fieldset
      data-fields="$ctrl.getFields()"
      data-valid="$ctrl.getValidity()"
      data-values="$ctrl.getValues()"
      on-change="$ctrl.handleChange($name,$value)"
    ></vorm-fieldset>
  </form>


  <div class="form-actions">
    <button
      class="btn btn-flat"
      ng-click="$ctrl.togglePreview()"
    >
      {{$ctrl.getPreviewActive() ? 'Voorbeeld sluiten' : 'Voorbeeld'}}
    </button>
    <button
      zs-disabled="$ctrl.isDisabled()"
      class="btn btn-primary"
      ng-click="$ctrl.handleSubmit()"
    >
      Verstuur e-mail
    </button>
  </div>
</div>
