    [% IF document_id ;
            dropdocument = c.model('DB::File').find(document_id);
       ELSIF doc_intake.component_id ;
            dropdocument = c.model('DB::File').find(doc_intake.component_id);
       ELSE;
            return;
       END;

       richting = doc_intake.ztc_document_richting ? doc_intake.ztc_document_richting : dropdocument.metadata_id.origin;

       IF richting != 'Intern';
           IF doc_intake.ztc_document_datum ;
               datum    = doc_intake.ztc_document_datum;
           ELSE;
               datum = dropdocument.metadata_id.origin_date.strftime('%d-%m-%Y');
           END;
       END;
       omschrijving = doc_intake.document_help ? doc_intake.document_help : dropdocument.metadata_id.description
    -%]

    <div class="row kenmerk-veld">
        <div class="column large-5">
            <span>Document</span>
        </div>
        <div class="column large-7">
            <a href="[% c.uri_for('/zaak/intake/' _ document_id _ '/download') %]" class="file"> [% dropdocument.filename %]</a>
        </div>
    </div>

    <div class="row kenmerk-veld">

        <div class="column large-5">
            <div class="field-label field-has-help">
                <div class="field-help">
                    [% PROCESS widgets/general/dropdown.tt
                        icon = 'icon-question-sign',
                        icon_type = 'icon-font-awesome',
                        content_overflow = 'dropdown-content-overflow',
                        dropdown_content = 'Selecteer de richting van dit document.',
                        allow_click = 1
                    %]
                 </div>
                 <label for="ztc_document_richting" class="titel">Documentrichting</label>
             </div>
        </div>

        <div class="column large-7">
            <select id="ztc_document_richting" name="ztc_document_richting" class="document replace-select-start-zaak">
                [% FOREACH doc_richting IN  ['Inkomend', 'Uitgaand', 'Intern'] %]
                <option value="[% doc_richting %]" [% (richting == doc_richting ? ' selected="selected"' : '') %]>
                [% doc_richting %]</option>
                [% END %]
            </select>
            [% PROCESS widgets/general/validator.tt %]
        </div>

    </div>

    <div class="row kenmerk-veld">
        <div class="column large-5">
            <div class="field-label field-has-help">
                <div class="field-help">
                    [% PROCESS widgets/general/dropdown.tt
                        icon = 'icon-question-sign',
                        icon_type = 'icon-font-awesome',
                        content_overflow = 'dropdown-content-overflow',
                        dropdown_content = 'Selecteer de verzend- (uitgaand) of ontvangstdatum (inkomend) van het document',
                        allow_click = 1
                    %]
             </div>
             <label for="ztc_document_datum" class="titel">Datum verzenden/ontvangen</label>
            </div>
        </div>
        <div class="column large-7">
            <input 
                type="text"
                name="ztc_document_datum"
                class="veldoptie_datepicker"
                value="[% datum %]"
                placeholder="Vul een datum in (dd-mm-jjjj)"
                id="ztc_document_datum"
                />
                [% PROCESS widgets/general/validator.tt %]
        </div>
    </div>


    <div class="row kenmerk-veld">
        <div class="column large-5">Zaakdocument:</div>
        <div class="column large-7">
            <select name="intake_document_catalogus" class="select_zt_document zaakdefinitie_[% definitie.zaaktype_id.get_column('zaaktype_node_id') %]">
                <option value="">Geen</option>
                    [% documenten = definitie.zaaktype_kenmerken.scalar.search(
                        {
                            'bibliotheek_kenmerken_id.value_type'    => 'file'
                        },
                        {
                            'join'          => 'bibliotheek_kenmerken_id',
                            'order_by'      => 'id',
                        }
                    ) %]
                [% WHILE (cdocument = documenten.next) %]
                    <option value="[% cdocument.id %]" class="[% (cdocument.value_mandatory ? 'verplicht_document' : "") %][% (cdocument.pip ? ' pip_document' : '') %]"
                    [% (doc_intake.document_catalogus == cdocument.id ? ' selected="selected"' : '') %]
                    >
                        [% cdocument.naam %]
                    </option>
                [% END %]
            </select>
        </div>
    </div>

    <div class="row kenmerk-veld">
        <div class="column large-5">Omschrijving:</div>
        <div class="column large-7">
            <input type=text name="intake_document_help" value="[% omschrijving %]"/>
        </div>
    </div>
