[% RETURN IF c.user_exists -%]
[% nowrapper=1 -%]

<!DOCTYPE HTML>

<!--[if IE 7 ]>    <html class="ie ie7 oldie" lang="nl"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 oldie" lang="nl"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="nl"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="nl"> <!--<![endif]-->


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: https://zaaksysteem.nl/ https://siteimproveanalytics.com https://www.googletagmanager.com https://www.gstatic.com/recaptcha/ https://www.google.com/recaptcha/api.js https://geodata.nationaalgeoregister.nl https://*.bus.koppel.app https://gistest.wetterskipfryslan.nl https://gisweb.heerhugowaard.nl https://plattegronden.gooisemeren.nl https://hofvantwente.obsurv.nl; frame-src 'self' https://gistest.wetterskipfryslan.nl/ https://gis.wetterskipfryslan.nl  https://www.google.com/ https://login.live.com/ https://*.officeapps.live.com/ https://*.bus.koppel.app; object-src 'self'; frame-ancestors 'self'; require-trusted-types-for 'script'; base-uri 'self'; connect-src *">
<title>[% IF page_title %][% page_title | html_entity %] - [% END %][% c.get_customer_info.naam_lang %]</title>

    [% PROCESS form/common_form_header_includes.tt %]

    <link media="screen" href="/css/templates/[% c.config.gemeente_id %].css" type="text/css" rel="stylesheet" />
    <link type="image/x-icon" href="https://www.ede.nl/favicon.ico" rel="shortcut icon" />
    
    [% PROCESS layouts/common_header_includes_js.tt %]
    
</head>
<body data-ng-app="Zaaksysteem"> 

    <div id="container">
		
		<div id="header">
		  
		    <div id="logo">
                <a href="http://www.ede.nl">
                   <img title="Gemeente Ede" alt="Gemeente Ede" src="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/form/[% c.config.gemeente_id %]/img/logo.jpg" />
                </a>
            </div>
		
		</div>
		
		<div id="main" class="clearfix">