[% BLOCK search_extension_button %]
    [% config = c.model('DB::Config') %]
    [% active = config.get('requestor_search_extension_active') %]
    [% name   = config.get('requestor_search_extension_name') %]
    [% href   = config.get('requestor_search_extension_href') %]

    [% IF active %]
        <input type="button" class="right button button-secondary button-small" value="[% name %]" onclick="window.open('[% href %]')" />
    [% END %]
[% END %]

        <div id="accordion" data-ng-controller="nl.mintlab.user.SearchSubjectController">
            <h3><a href="#">Zoekcriteria</a></h3>
            <div ng-init="init('[% jsversion %]', '[% jsfill %]', '[% method %]', '[% search_filter_post %]', '[% jsfill %]', '[% jscontext %]', '[% jstype %]', '[% method %]', '[% url %]', '[% import_datum %]')">
               <div id="search_betrokkene" class="ui-accordion-inner clearfix">
                   <form>
                       [% IF jsversion == 3 %]
                       <input
                           type="hidden"
                           name="ezra_client_info_selector_identifier"
                           value="[% c.req.params.ezra_client_info_selector_identifier | html %]" />
                       <input
                           type="hidden"
                           name="ezra_client_info_selector_naam"
                           value="[% c.req.params.ezra_client_info_selector_naam | html %]" />
                       <input
                           type="hidden"
                           name="ezra_client_info_selector_naam"
                           value="[% c.req.params.ezra_client_info_selector_naam | html %]" />
                       <input
                           type="hidden"
                           name="betrokkene_type"
                           value="[% c.req.params.betrokkene_type | html %]" />
                       <input
                           type="hidden"
                           name="search"
                           value="1" />
                       <input
                           type="hidden"
                           name="jsversion"
                           value="[% c.req.params.jsversion | html %]" />
                       <input type="hidden" name="external_search" value="" />
                        [% END %]
                        [% IF betrokkene_type == 'medewerker' %]
                            [% INCLUDE widgets/betrokkene/medewerker_search.tt %]
                        [% ELSIF betrokkene_type == 'natuurlijk_persoon' %]
                            [% INCLUDE widgets/betrokkene/natuurlijk_persoon_search.tt %]
                        [% ELSIF betrokkene_type == 'bedrijf' %]
                            [% INCLUDE widgets/betrokkene/bedrijf_search.tt %]
                        [% END %]
                        <input type="submit" id="ezra_search_betrokkene_submit_button" class="right btn btn-primary" name="submit" value="Zoeken" />
                        [% PROCESS search_extension_button %]
                        <i id="betrokkene_loader" class="disabled spinner-small spinner-dialog"></i>
                    </form>
                </div>
            </div>
            
            <h3><a href="#">Resultaten</a></h3>
            <div style="height:200px;">
                <div class="ui-accordion-inner">
                    <div class="error_message has-icon">
                        <i class="icon icon-alert icon-viel-lebensraum"></i>
                        <span class="error_message_text"></span>
                        
                    </div>

                    <span id="betrokkene_results_more_available" class="disabled betrokkene-results-counter betrokkene_error_messages">Meer dan 1 resultaat gevonden, gelieve uw zoekopdracht te verfijnen.</span>
                    <span id="betrokkene_results_no_results" class="disabled betrokkene-results-counter betrokkene_error_messages">Geen resultaten gevonden met uw zoekopdracht.</span>
                    <span id="betrokkene_results_error" class="disabled betrokkene-results-counter betrokkene_error_messages">Het is op dit moment niet mogelijk te zoeken in de makelaar, raadpleeg uw zaaksysteem beheerder voor meer informatie.</span>

                    <table class="table_zaken_title" id="search_betrokkene_results">
                        <tbody></tbody>
                    </table>
                </div>
                [% IF c.req.params.allow_external_search && (stuf_sbus_search || stuf_gbav_search && betrokkene_type == 'natuurlijk_persoon') %]
                <div class="gba-extra_options">
                    <!-- <label class="extra_options">
                        Verder zoeken in: 
                    </label> -->
                    [% IF stuf_sbus_search %]
                    <input
                        type="button"
                        name="external_search"
                        class="ezra_search_betrokkene_external_button button button-small button-primary"
                        id="external_search_button_gba"
                        value="Zoek extern" />
                    [% END %]
                    <i id="betrokkene_loader_gba" class="disabled spinner-small spinner-dialog"></i>
                </div>
                [% END %]
            </div>
        </div>


    <script type="text/javascript">
