[% type_fieldname = fieldname _ '_value' %]

<div>
  <div>Zaakvertrouwelijkheid</div>
  <div>

    [%
      level_map = {
        'public' => 'Openbaar',
        'internal' => 'Intern',
        'confidential' => 'Vertrouwelijk',
      }
      level_order = [
        'public',
        'internal',
        'confidential'
      ];
    %]

    <select name="regels_[% type_fieldname %]">
      <option value="">-- Selecteer --</option>

      [% FOREACH l IN level_order %]
      [% level = level_map.$l %]
      <option value="[% l %]"
              [% IF params.$type_fieldname == l %]
              selected="selected"
              [% END %]>[% level %]
      </option>
      [% END %]
    </select>
  </div>
</div>
