[% type_fieldname = fieldname _ '_type' %]

<div>
  <div>Emailconfiguratie:</div>
  <div>
    [% rule_interface_id = fieldname _ '_interface_id' %]
    <select name="regels_[% rule_interface_id %]">
      <option value="">-- Selecteer --</option>

      [% FOREACH interface IN mail_interfaces %]

        [% IF !interface.value.get_interface_config.rich_email;
             NEXT;
        END %]

      <option value="[% interface.key %]"
        [% IF params.$rule_interface_id == interface.key %]
          [% interface_selected = interface.value %]
          selected="selected"
        [% END %]>
        [% interface.value.name | html_entity %]
      </option>
      [% END %]
    </select>
  </div>
</div>

[% interface_module = interface_selected.module  %]
[% interface_config = interface_selected.get_interface_config %]

<div>
  <div>Template:</div>
  <div>
      [% rule_template_name = fieldname _ '_value' %]
      <select name="regels_[% rule_template_name %]">
        [% rich_email_templates = interface_config.rich_email_templates %]
        <option value="">-- Selecteer --</option>

        [% FOREACH template IN rich_email_templates %]

        [% label = template.label | html_entity %]
        <option value="[% label %]"
          [% IF params.$rule_template_name == label %]
            selected="selected"
          [% END %]

        >
          [% label %]
        </option>
        [% END %]
    </select>
  </div>
</div>
