@import "./../../../../shared/styles/_variables.scss";

zs-case-map-view {


	position: relative;
	display: flex;
	flex: 1 1 auto;

	> zs-map-search {
		position: absolute;
		z-index: 1;
		top: 10px;
		left: 10px;
		width: 400px;
		box-shadow: #{$shadow};
	}
	> zs-map {
		display: flex;
		width: 100%;
		position: relative;

		.ol-viewport {
			// height is set to 100% by OpenLayers,
			// but that causes weird issues w/ rollovers
			// on buttons and markers
			height: auto !important;
		}
	}
}
