<div class="ui-accordion-inner">
    <table class="table_zaakinformatie">
        <tbody>
            [% PROCESS widgets/zaak/ztc.tt
                ZAAKINFO = 1
            %]
        </tbody>
    </table>
</div>

