<h3 class="ui-accordion-header ui-state-default ui-helper-reset">
    <a href="#">
        [% PROCESS format_filter_title %]
        (<span class="number">[% kenmerken.size %]</span>)
    </a>
</h3>

<div class="ezra_table element_tabel_kenmerk">
    <div class="ui-accordion-inner">
    [% PROCESS search/kenmerken_table.tt %]
    </div>
</div>

