[% BLOCK block_categorie %]
    [% WHILE (categorie = bib_cat.next) %]
        <option
            value="[% categorie.id %]"
            class="[% (invoertype.value.multiple ? ' has_options' : '') %][% (invoertype.key == 'file' ? ' file' : '') %]"
            [% (bibliotheek_categorie_id == categorie.id) ? ' selected' : '' %]
        >[% '-' | repeat(CAT_STR_DEPTH) %] [% categorie.naam | html_entity %]</option>
        [% IF categorie.scalar.bibliotheek_categories.count %]
        [% SET CAT_STR_DEPTH = CAT_STR_DEPTH + 1 %]
            [% inner_cat = categorie.scalar.bibliotheek_categories %]
            [% save_categorie = bib_cat %]
            [% INCLUDE block_categorie
                bib_cat = inner_cat
                CAT_STR_DEPTH = CAT_STR_DEPTH
            %]
            [% categorie = save_categorie %]
            [% SET CAT_STR_DEPTH = CAT_STR_DEPTH - 1 %]
        [% END %]
    [% END %]
[% END %]

[% nowrapper = 1 %]
<div id="notificatie_definitie">
    <form action="/beheer/bibliotheek/notificaties/[% bib_id  %]/bewerken" method="POST" class="zvalidate">

    <input type="hidden" name="id" value="[% bib_id %]" />
    <input type="hidden" name="update" value="1" />
    <input type="hidden" name="uniquehidden" value="[% c.req.params.hidden_name %]" />
    <input type="hidden" name="row_id" value="[% c.req.params.row_id %]" />
    <div>
        <table class="form">
            <tbody>
                <tr>
                    <td class="td220">Label</td>
                    <td class="td260">
                        <input type="text" name="label" value="[% bib_entry.label %]" class="input_large ezra_sjabloon_naam">
                    </td>
                    <td>
                        [% PROCESS widgets/general/validator.tt %]
                        [% PROCESS widgets/general/tooltip.tt message="Typ hier de naam van het sjabloon" %]
                    </td>
                </tr>
                <tr>
                    <td class="td220">Onderwerp</td>
                    <td class="td260">
                        <input type="text" name="subject" value="[% bib_entry.subject %]" class="input_large ezra_sjabloon_naam">
                    </td>
                    <td>
                        [% PROCESS widgets/general/validator.tt %]
                        [% PROCESS widgets/general/tooltip.tt message="Onderwerp van het bericht" %]
                    </td>
                </tr>
                <tr>
                    <td class="td220">Bericht</td>
                    <td class="td260">
                        <textarea name="message" class="input_large ezra_sjabloon_naam">[% bib_entry.message %]</textarea>
                    </td>
                    <td>
                        [% PROCESS widgets/general/validator.tt %]
                        [% PROCESS widgets/general/tooltip.tt message="Typ hier de naam van het sjabloon" %]
                    </td>
                </tr>
                <tr>
                    <td>Categorie (verplaatsen)</td>
                    <td>
                        [% IF bib_entry %]
                            [% bibliotheek_categorie_id = bib_entry.get_column('bibliotheek_categorie_id') %]
                        [% END %]
                        <select name="bibliotheek_categorie_id" class="select350">
                            [%
                                INCLUDE block_categorie
                                CAT_STR_DEPTH = 1
                            %]
                        </select>
                    </td>
                    <td>
                        [% PROCESS widgets/general/validator.tt %]
                        [% PROCESS widgets/general/tooltip.tt message="Selecteer hier de juiste categorie" %]
                    </td>
                </tr>
                <tr>
                    <td>Opmerking</td>
                    <td>
                        <input type="text" name="commit_message" value="[% bib_entry ? 'Wijziging ' : 'Nieuw aangemaakt ' %]" class="input_large ezra_sjabloon_naam">
                    </td>
                    <td>
                        [% PROCESS widgets/general/validator.tt %]
                        [% PROCESS widgets/general/tooltip.tt message="Korte omschrijving van de reden van aanmaak/wijziging" %]
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-actions">
    <input type="submit" value="Opslaan" class="button button-primary">
    </div>
    </form>
</div>
