[% WHILE (row = results.next) %]
    <tr id="notificatie_id-[% row.id %]" class="select-row">
        <td class="notificatie_name">[% row.label %]</td>
        <td>
            <a href="/beheer/bibliotheek/notificaties/[% row.id %]/preview"
                class="ezra_notificatie_preview button button-secondary button-smaller right"
                title="Preview notificatie: [% row.label %]"
            ><i class="icon-font-awesome icon-search"></i></a>
        </td>
    </tr>
[% END %]
