<div class="timeline-event-col timeline-event-col-icon">
    <div
        class="timeline-event-icon"
        ng-style="{ 'background-color': $ctrl.getColor() }"
    >
        <zs-icon icon-type="{{$ctrl.getIcon()}}"></zs-icon>
    </div>
</div>
<div class="timeline-event-col timeline-event-col-content">
    <div class="timeline-event-meta">
        <span>{{$ctrl.getDate()}}</span>
        <a ng-href="{{$ctrl.getLink()}}">{{$ctrl.getSubject()}}</a>
    </div>
    <div class="timeline-event-content">
        <span class="timeline-event-title">{{$ctrl.getTitle()}}</span>
        <zs-truncate-html ng-if="$ctrl.getContent()" data-value="$ctrl.getContent()" data-length=50></zs-truncate-html>
    </div>
</div>
