<div class="ztb">
  <div id="blockvar-wrap" class="mijlpaal_configureren clearfix">
    <div class="block blockvar left mijlpaal_content" id="configureren">
      <form method="POST" action="[% formaction %]" class="ezra_zaaktypebeheer">
        <input type="hidden" name="zaaktype_update" value="1" />
        <input type="hidden" name="bibliotheek_categorie_id" value="[% categorie_id %]"/>
        <input type="hidden" name="status_update" value="1" />
        <input type="hidden" name="milestone_number" value="[% milestone_number %]" />

        <div class="block-header ztb-header clearfix">
          [% IF(zaaktype_id) %]
          <div class="block-header-title">[% params.node.titel | html_entity %] -  
            [% ELSE %]
            Zaaktype aanmaken
            [% END %]
            <span>Fase "[% milestone.definitie.fase %]" configureren</span>
          </div>
        </div>
        <div id="content" class="block-content">
          [% PROCESS beheer/zaaktypen/mijlpaal_configureren.tt %]
        </div>
      </form>
    </div>

    <div class="block300 left mijlpaal_sidebar">
      <div class="block mijlpaal_element_toevoegen" id="elementen">
        <div class="block-header clearfix">
          <div class="block-header-title">Element toevoegen</div>
        </div>
        <div class="block-content add_element">
          <a href="#" class="button button-secondary button-medium element" id="kenmerk">
            <i class="mdi mdi-puzzle icon-lebensraum icon-red"></i> Kenmerk
          </a>
          <a href="#" class="button button-secondary button-medium element" id="text_block">
            <i class="mdi mdi-comment-text icon-lebensraum icon-blue"></i> Tekstblok
          </a>
          [% UNLESS milestone_first %]
          <a href="#" class="button button-secondary button-medium element" id="objecttype">
            <i class="mdi mdi-hexagon-outline icon-lebensraum icon-light-blue"></i> Objecttype
          </a>
          <a href="#"
             class="button button-secondary button-medium element"
             id="custom_object">
            <i class="mdi mdi-hexagon-outline icon-lebensraum icon-light-blue"></i>
            Objecttype (beta)
          </a>
          [% END %]
          <a href="#" class="button button-secondary button-medium element" id="regel">
            <i class="mdi mdi-auto-fix icon-lebensraum icon-purple"></i> Regel
          </a>
          <a href="#" class="button button-secondary button-medium element" id="sjabloon">
            <i class="mdi mdi-file-document icon-lebensraum icon-grey"></i> Sjabloon
          </a>
          [% UNLESS milestone_first %]
          <a href="#"
             class="button button-secondary button-medium element"
             id="object_mutation">
            <i class="mdi mdi-hexagon-outline icon-lebensraum icon-dark-blue"></i>
            Objectactie
          </a>
          <a href="#" class="button button-secondary button-medium element" id="checklist">
            <i class="mdi mdi-checkbox-marked-circle icon-lebensraum icon-green"></i> Taak
          </a>
          [% END %]
          <a href="#" class="button button-secondary button-medium element ezra_zaaktype_add_zaak" id="relatie">
            <i class="mdi mdi-folder-outline icon-lebensraum icon-blue"></i> Zaak
          </a>
          <a href="#" class="button button-secondary button-medium element" id="notificatie">
            <i class="mdi mdi-email icon-lebensraum icon-yellow"></i> Bericht
          </a>
          <a href="#" class="button button-secondary button-medium element" id="betrokkene">
            <i class="mdi mdi-account icon-lebensraum icon-blue"></i> Betrokkene</a>
          [% IF milestone_last %]
          <a href="#" class="button button-secondary button-medium element" id="resultaat">
            <i class="mdi mdi-cake-variant icon-lebensraum icon-purple"></i> Resultaat
          </a>
          [% END %]
        </div>
      </div>
    </div>
  </div>
</div>
