<div data-zs-modal data-ng-init="title='Handmatige transactie'">
    <div class="manual-process" data-ng-controller="nl.mintlab.sysin.ManualProcessController">

        <div data-zs-form-template-parser="<[manualProcessForm]>">
        </div>
        
        <script type="text/zs-scope-data">
            {
                "manualProcessForm": {
                    "name": "manual-process",
                    "title": "",
                    "description": "",
                    "fieldsets": [
                        {
                            "name": "manual-process-fields",
                            "title": "",
                            "description": "Koppelprofielen kunnen de mogelijkheid bieden om handmatig een bericht te verwerken. Hier kunnen dergelijke berichten opgevoerd worden.",
                            "fields": [
                                {
                                    "name": "interface",
                                    "type": "select",
                                    "label": "Koppelprofiel",
                                    "data": {
                                        "options": "<[getManualUploadOptions()]>"
                                    },
                                    "required": true,
                                    "default": "<[getDefaultInterfaceId()]>"
                                },
                                {
                                    "name": "input_data",
                                    "type": "textarea",
                                    "label": "Bericht (tekst)",
                                    "description": "Plak hier een bericht om te verwerken",
                                    "when": "isFieldVisible('text')"
                                },
                                {
                                    "name": "input_filestore_uuid",
                                    "type": "file",
                                    "when": "isFieldVisible('file')",
                                    "label": "Bericht (upload)",
                                    "description": "Upload hier een bericht om te verwerken",
                                    "data": {
                                        "resolve": "uuid"
                                    }
                                },
                                {
                                    "name": "input_references",
                                    "type": "multiple",
                                    "label": "Referenties",
                                    "description": "Dit koppelprofiel kan berichten opnieuw proberen op basis van een extern referentienummer, voer de referenties hier per bericht op",
                                    "when": "isFieldVisible('references')",
                                    "data": {
                                        "fields": [
                                            {
                                                "name": "reference",
                                                "type": "text",
                                                "required": true
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    ],
                    "actions": [
                        {
                            "name": "submit",
                            "type": "submit",
                            "label": "Verstuur",
                            "disabled": "isSubmitDisabled()",
                            "data": {
                                "url": "<[getSubmitUrl(getValue('interface'))]>",
                                "success": "closePopup()"
                            }
                        }
                    ]
                }
            }
        </script>
    </div>
    
</div>
