[% USE Dumper %]

[% BLOCK show_list_items %]
	[% IF items && items.size %]
		<strong class="[% class %]-title">[% label %]</strong>
		<ul class="[% class %]">
		[% FOREACH item = items %]
			<li>[% item %]</li>
		[% END %]
		</ul>
	[% END %]
[% END %]

[% IF destroy_report.has_errors || destroy_report.has_warnings %]
<tr class="destroy-validator"><td colspan="3">
	Fouten en waarschuwingen worden hieronder per zaak getoond. <ul><li>Zaken waarin <strong>fouten</strong> optreden kunnen niet worden vernietigd. Hiervoor zal eerst de fout moeten worden hersteld.</li> <li>Zaken met <strong>waarschuwingen</strong> kunnen vernietigd worden met een kwalitatieve beoordeling van bevoegde beheerder, door middel van de bevestiging onderaan dit scherm.</li></ul>
</td>
</tr>
[% END %]

[% FOREACH case_id = destroy_report.report.keys.sort %]
	<tr class="destroy-dialog">
		<td>Zaak [% case_id %]</td>
		<td colspan="2">
			[% PROCESS show_list_items
				label = 'Fouten'
				items = destroy_report.report.$case_id.errors
				class = 'destroy-error'
			%]
			[% PROCESS show_list_items
				label = 'Waarschuwingen'
				items = destroy_report.report.$case_id.warnings
				class = 'destroy-warning'
			%]
		</td>
	</tr>
[% END %]

[% IF need_confirmation %]
<tr>
	<td>Bevestiging:</td>
	<td colspan="2"><input type="checkbox" name="confirm_destroy" /> Bovenstaande waarschuwingen beoordeeld en akkoord met vernietiging</td>
</tr>
[% END %]

<tr class="destroy-feedback">
    <td colspan="3">
        <input type="hidden" name="error" value="[% selection %]"/>
        [% PROCESS widgets/general/validator.tt %]
    </td>
</tr>
