[% BLOCK regel_uitleg %]

<tr>
<th>Als:</th>
<th>Dan:</th>
<th>[%- IF regel.anders.size %]Anders:[% END %]</th>
</tr>
<tr>
<td>
[% FOREACH vw IN regel.voorwaarden %]
    [%- km = 'voorwaarde_' _ vw _ '_kenmerk' %]
    [%- IF regel.$km == 'aanvrager_postcode' %]
        [% kv1 = 'voorwaarde_' _ vw _ '_value_postcode_from' %]
        [% kv2 = 'voorwaarde_' _ vw _ '_value_postcode_to' %]
        <strong>Postcode van aanvrager:</strong> tussen [% regel.$kv1 %] en [% regel.$kv2 %]
    [%- ELSE %]
        [%- kv = 'voorwaarde_' _ vw _ '_value' %]
        <strong>[% PROCESS kenmerk_naam kenmerk_id=regel.$km %]</strong>
        [% regel.$kv.list.join(", ") %]
    [%- END %]
    [% IF regel.voorwaarden.size != vw %]
        [% IF regel.condition_type == 'and' %]
             <strong>en</strong>
        [% ELSE %]
             <strong>of</strong>
        [% END %]
    [% END %]
    [% IF vw != 0 %]<br>[% END %]
[%- END %]
</td>

<td>
[%- IF regel.acties.size %]
    [% SET action_type = "" %]
    [%- FOREACH act IN regel.acties %]
        [% type = 'actie_' _ act %]
        [% IF
            regel.$type == action_type && (
                regel.$type == 'show_text_block' ||
                regel.$type == 'hide_text_block' ||
                regel.$type == 'show_group' ||
                regel.$type == 'hide_group' ||
                regel.$type == 'toon_kenmerk' ||
                regel.$type == 'verberg_kenmerk' ||
                regel.$type == 'schedule_mail' ||
                regel.$type == 'sjabloon_genereren' ||
                regel.$type == 'add_subject' ||
                regel.$type == 'start_case'
            )
        %]
            [% INCLUDE regel_actie regel=regel, prefix='actie_' _ act, repeat=1 %]
        [%  ELSE %]
            [% IF action_type != "" %]<br>[% END %]
            [% SET action_type = regel.$type %]
            [% INCLUDE regel_actie regel=regel, prefix='actie_' _ act %]
        [% END %]
    [%- END %]
[%- ELSE %]
    <strong>Geen acties</strong></td>
[%- END %]
</td>


[%- IF regel.anders.size %]
[% SET action_type = "" %]

<td>
    [%- FOREACH else IN regel.anders %]
        [% type = 'ander_' _ else %]
        [% IF
            regel.$type == action_type && (
                regel.$type == 'show_text_block' ||
                regel.$type == 'hide_text_block' ||
                regel.$type == 'show_group' ||
                regel.$type == 'hide_group' ||
                regel.$type == 'toon_kenmerk' ||
                regel.$type == 'verberg_kenmerk' ||
                regel.$type == 'schedule_mail' ||
                regel.$type == 'sjabloon_genereren' ||
                regel.$type == 'add_subject' ||
                regel.$type == 'start_case'
            )
        %]
            [% INCLUDE regel_actie regel=regel, prefix='ander_' _ else, repeat=1 %]
        [%  ELSE %]
            [% IF action_type != "" %]<br>[% END %]
            [% SET action_type = regel.$type %]
            [% INCLUDE regel_actie regel=regel, prefix='ander_' _ else %]
        [% END %]
    [%- END %]
</td>
</tr>
[%- END %]

[% END %]

[% BLOCK dump_rule %]
  [% USE Dumper; GET '<pre>'; Dumper.dump(regel); GET prefix; GET '</pre>'; %]
[% END %]


[% BLOCK kenmerk_naam %]
    [%-
    SET regel_kenmerk_naam = '(onbekend ' _ kenmerk_id _ ')';

    IF kenmerk_id == 'contactchannel'; SET regel_kenmerk_naam='Contactkanaal:';
    ELSIF kenmerk_id == 'payment_status'; SET regel_kenmerk_naam='Betaalstatus:';
    ELSIF kenmerk_id == 'confidentiality'; SET regel_kenmerk_naam='Vertrouwlijkheid:';
    ELSIF kenmerk_id == 'vertrouwelijkheidsaanduiding'; SET regel_kenmerk_naam='Vertrouwelijkheidsaanduiding:';
    ELSIF kenmerk_id == 'beroep_mogelijk'; SET regel_kenmerk_naam='Bezwaar en beroep mogelijk:';
    ELSIF kenmerk_id == 'publicatie'; SET regel_kenmerk_naam='Publicatie:';
    ELSIF kenmerk_id == 'bag'; SET regel_kenmerk_naam='BAG:';
    ELSIF kenmerk_id == 'lex_silencio_positivo'; SET regel_kenmerk_naam='Lex silencio positivo:';
    ELSIF kenmerk_id == 'opschorten_mogelijk'; SET regel_kenmerk_naam='Opschorten mogelijk:';
    ELSIF kenmerk_id == 'verlenging_mogelijk'; SET regel_kenmerk_naam='Verlenging mogelijk:';
    ELSIF kenmerk_id == 'wet_dwangsom'; SET regel_kenmerk_naam='Wet dwangsom:';
    ELSIF kenmerk_id == 'preset_client'; SET regel_kenmerk_naam='Vooringevulde aanvrager:';
    ELSIF kenmerk_id == 'wkpb'; SET regel_kenmerk_naam='WKPB:';
    ELSIF kenmerk_id == 'preferred_contact_channel'; SET regel_kenmerk_naam='Voorkeurskanaal:';
    ELSIF kenmerk_id.match('[0-9]+');
        FOREACH mkenmerki IN milestone.elementen.kenmerken.keys.nsort;
            mkenmerk = milestone.elementen.kenmerken.$mkenmerki;
            IF mkenmerk.bibliotheek_kenmerken_id != kenmerk_id;
                NEXT;
            END;

            SET regel_kenmerk_naam = mkenmerk.naam || mkenmerk.label;
        END;
    ELSE; SET regel_kenmerk_naam = regel.$km;
    END;

    GET regel_kenmerk_naam;
%]
[% END %]

[% BLOCK regel_actie %]
    [%- SET actie_km = prefix _ '_kenmerk' %]
    [%- SET actie_val = prefix _ '_value' %]

    [%-
      regel_value = regel.$actie_val;
      actie_value_type = prefix _ '_attribute_type';
      IF regel.$actie_value_type == 'valuta';
        regel_value = regel_value.replace('\.', ',');
      END;
      regel_value = regel_value | truncate(15);
    %]

    [%- IF regel.$prefix == 'show_text_block' %]
        [%- IF repeat %]
            ,
        [% ELSE %]
            <strong>Toon tekstblokken:</strong>
        [% END %]
        [% regel.$actie_km %]
    [%- ELSIF regel.$prefix == 'hide_text_block' %]
        [%- IF repeat %]
            ,
        [% ELSE %]
            <strong>Verberg tekstblokken:</strong>
        [% END %]
        [% regel.$actie_km %]
    [%- ELSIF regel.$prefix == 'show_group' %]
        [%- IF repeat %]
            ,
        [% ELSE %]
            <strong>Toon groepen:</strong>
        [% END %]
        [% regel.$actie_km %]
    [%- ELSIF regel.$prefix == 'hide_group' %]
        [%- IF repeat %]
            ,
        [% ELSE %]
            <strong>Verberg groepen:</strong>
        [% END %]
        [% regel.$actie_km %]
    [%- ELSIF regel.$prefix == 'toon_kenmerk' %]
        [%- IF repeat %]
            ,
        [% ELSE %]
            <strong>Toon kenmerken:</strong>
        [% END %]
        [% PROCESS kenmerk_naam kenmerk_id=regel.$actie_km %]
    [%- ELSIF regel.$prefix == 'verberg_kenmerk' %]
        [%- IF repeat %]
            ,
        [% ELSE %]
            <strong>Verberg kenmerken:</strong>
        [% END %]
        [%  PROCESS kenmerk_naam kenmerk_id=regel.$actie_km %]
    [%- ELSIF regel.$prefix == 'vul_waarde_in' %]
        <strong>Vul: </strong>&quot;[% PROCESS kenmerk_naam kenmerk_id=regel.$actie_km %]&quot; met &quot;[% regel_value | html %]&quot;
    [%- ELSIF regel.$prefix == 'vul_waarde_in_met_formule' %]
        <strong>Vul: </strong>&quot;[% PROCESS kenmerk_naam kenmerk_id=regel.$actie_km %]&quot; met een formule
    [%- ELSIF regel.$prefix == 'set_value_magic_string' %]
        <strong>Vul: </strong>&quot;[% PROCESS kenmerk_naam
        kenmerk_id=regel.$actie_km %]&quot; met &quot;[% regel_value |
        html %]&quot;
    [%- ELSIF regel.$prefix == 'pauzeer_aanvraag' %]
        <strong>Pauzeer aanvraag</strong>
    [%- ELSIF regel.$prefix == 'toewijzing' %]
        <strong>Wijzig toewijzing:</strong> naar
        [%# PROCESS dump_rule %]
        [%-
          IF regel.defined('role_id');
            # Some customers have if then else constructs with
            # assignment. While not supported, they do use it
            role_id = regel.role_id.0 || regel.role_id;
            SET role = c.model('DB::Roles').find(role_id);
          END;

          IF regel.defined('ou_id');
            # Some customers have if then else constructs with
            # assignment. While not supported, they do use it
            ou_id = regel.ou_id.0 || regel.ou_id;
            SET ou = c.model('DB::Groups').find(ou_id);
          END;
        -%]
        [%- IF ou && role %]
            &quot;[% ou.name | html %] / [% role.name | html %]&quot;
        [%- ELSE %]
            &quot;onbekende groep/rol&quot;
        [%- END %]
    [%- ELSIF regel.$prefix == 'case_result' %]
        <strong>Zet resultaat</strong>
    [%- ELSIF regel.$prefix == 'wijzig_registratiedatum' %]
        [%- SET regel_source = prefix _ '_datum_bibliotheek_kenmerken_id' %]
        <strong>Wijzig registratiedatum:</strong>
        naar de waarde van
        &quot;[% PROCESS kenmerk_naam kenmerk_id=regel.$regel_source %]&quot;
    [%- ELSIF regel.$prefix == 'wijzig_afhandeltermijn' %]
        [% SET termijn = prefix _ '_afhandeltermijn' %]
        [% SET termijn_type = prefix _ '_afhandeltermijntype' %]
        <strong>Wijzig afhandeltermijn:</strong>
        naar
        &quot;[% regel.$termijn %] [% regel.$termijn_type %]&quot;
    [%- ELSIF regel.$prefix == 'sjabloon_genereren' %]
        [%- IF repeat %]
            ,
        [% ELSE %]
            <strong>Genereer sjabloon: </strong>
        [% END %]
        [%
            SET sjabloon_index = prefix _ '_sjabloon';
            FOREACH sjabloon IN milestone.elementen.sjablonen;
                NEXT IF sjabloon.key != regel.$sjabloon_index;

                IF sjabloon.value.naam;
                    GET sjabloon.value.naam;
                ELSE;
                    GET '(onbekend)';
                END;
            END;
        %]
    [%- ELSIF regel.$prefix == 'schedule_mail' %]
        [%- IF repeat %]
            ,
        [% ELSE %]
            <strong>Plan email: </strong>
        [% END %]
        [%
            SET notificatie_index = prefix _ '_notificatie_index';
            FOREACH notificatie IN milestone.elementen.notificaties;
                NEXT IF notificatie.key != regel.$notificatie_index;

                IF notificatie.value.bibliotheek_notificaties_id;
                    GET c.model('DB::BibliotheekNotificaties').find(notificatie.value.bibliotheek_notificaties_id).label;
                ELSE;
                    GET '(onbekend)';
                END;
            END;
        %]
    [%- ELSIF regel.$prefix == 'add_subject' %]
        [% IF repeat %]
            ,
        [% ELSE %]
            <strong>Voeg betrokkene toe:</strong>
        [% END %]
        [%
            SET betrokkene_uuid = prefix _ '_rule_uuid';
            FOREACH relatie IN milestone.elementen.standaard_betrokkenen;
                NEXT IF relatie.value.uuid != regel.$betrokkene_uuid;

                GET relatie.value.naam %]</strong> als <strong>[% relatie.value.rol;
            END;
        %]
        </strong>
    [%- ELSIF regel.$prefix == 'start_case' %]
        [% IF repeat %]
            ,
        [% ELSE %]
            <strong>Start zaak:</strong>
        [% END %]
        [%
            SET case_index = prefix _ '_case_index';
            FOREACH relatie IN milestone.elementen.relaties;
                NEXT IF relatie.key != regel.$case_index;

                IF relatie.value.relatie_naam;
                    GET relatie.value.relatie_naam;
                ELSE;
                    GET '(onbekend)';
                END;
            END;
        %]
    [%- ELSIF regel.$prefix == 'send_external_system_message' %]
        [%- SET regel_type = prefix _ '_type' %]
        <strong>Stuur extern systeembericht:</strong>
        naar

        [%- IF regel.$regel_type;
              interface_id = regel.$regel_type.remove('api_');

              IF interface_id.match('^\d+$');
                interface = c.model('DB::Interface').find(interface_id);
              ELSE;
                interface = c.model('DB::Interface').search_rs({ module => interface_id }).first;
              END;
        END; %]

        &quot;[% interface ? interface.name : '(onbekende koppeling)' %]&quot;
    [%- ELSIF regel.$prefix == 'set_online_payment' %]
        [%- SET regel_status = prefix _ '_status' %]
        <strong>Schakel internetkassa [% regel.$regel_status ? 'in' : 'uit' %]</strong>
    [%- ELSIF regel.$prefix == 'change_confidentiality' %]
        Wijzig zaakvertrouwelijkheid naar

        [%
          regel_value = prefix _ '_value';
          mapping = {
            'public' => 'Openbaar',
            'internal' => 'Intern',
            'confidential' => 'Vertrouwelijk',
          };
          level = regel.$regel_value;
        %]

          <strong>[% mapping.$level %]</strong>

    [%- ELSIF regel.$prefix == 'change_html_mail_template' %]
        Wijzig HTML e-mail template naar

          <strong>[% regel.$actie_val %]</strong>
    [%- ELSIF regel.$prefix == 'trigger_object_action' %]
        [% mutation = prefix _ '_type' %]
        [% object_mutation_id = regel.$mutation %]
        [%
          IF object_mutation_id.empty;
          THEN;
            RETURN;
          END;
          object_mutations = c.model('DB::ZaaktypeObjectMutation');
        %]
        [% object = object_mutations.search_rs({ id => object_mutation_id }).first; %]

        [%
          action = 'aanmaken';
          IF object.mutation_type == 'edit';
          THEN;
             action = 'wijzigen';
          END;
         %]

        Object [% action %]: <strong>[% object.object_title | html_entity %]</strong>
    [%- ELSE %]
        <strong>[% regel.$prefix %]</strong>
    [%- END %]
[% END %]

[% BLOCK milestone_table_row %]
<tr
    class="mijlpaal_element_rij ezra_table_row[% (!mregel ? '_template' : '') %][% mregel.is_group ? ' ezra_regels_grouping_group mijlpaal_element_rij_groep' : ''%]"
    id="ezra_table_regel_row_number[% (mregel ? '_' _ mregeli : '') %]">
    <td class="td15 ver_center no-border drag"></td>
    <td class="td_14px tdvar">

        <span class="regel-actief-checkbox">
            <input type="hidden" name="ezra_checkboxes" value="params.status.regels.active[% (mregel ? '.' _ mregeli : '') %]" />
            [% UNLESS mregel.is_group %]
            <input type="checkbox" name="params.status.regels.active[% (mregel ? '.' _ mregeli : '') %]" value="1"[% (!mregel || mregel.active) ? ' checked="checked"' : '' %] />
            [% END %]
        </span>

        <input type="hidden" class="roworder" name="params.status.regels.mijlsort[% (mregel ? '.' _ mregeli : '') %]" value="[% mregeli %]" />

        <span class="rownaam" />
        [% FOREACH problem IN integrity.rules.problems %]
            [% IF problem.rule_number == mregeli %]
                <i
                class="icon-warning-sign icon-font-awesome regel-error"
                data-zs-title="[% problem.message %]"></i>
            [% END %]
        [% END %]
        [% mregel.naam %][%# Dumper.dump(mregel) %]
        </span>

        [% IF mregel.is_group && mregel.help %]
            <div class="rowdescription">[% mregel.help %]</div></span>
        [% END %]
        [% UNLESS mregel.is_group %]
        <br>
        <table class="regel-beschrijving">[% INCLUDE regel_uitleg regel=mregel %]</table>
        [% END %]
    </td>
    <td class="row-actions td100">
        <a
            href="[% formaction _ '/regel' _ (mregel.is_group ? 'group' : '') %]/bewerken"
            class="edit ezra_table_row_edit row-action"
            title="Regel bewerken"
            rel="ezra_dialog_layout: fullscreen;[% mregel.is_group ? ' callback: ezra_regels_grouping_update_row;' : '' %]">
            <i class="icon-font-awesome icon-pencil"></i>
        </a>
        <a href="#" class="ezra_table_row_del row-action">
            <i class="icon-font-awesome icon-remove"></i>
        </a>
    </td>
</tr>
[% END %]



<h3 class="ui-accordion-header ui-state-default ui-helper-reset" id="milestone_acc_regel">
    <a href="#">
        [% IF integrity.rules.failed %]
            <i
            class="icon-warning-sign icon-font-awesome regel-error"
            data-zs-title="Zaaksysteem heeft enkele problemen gevonden binnen uw regels"></i>
        [% END %]
        Regels
        (<span class="number">[% milestone.elementen.regels.size || 0 %]</span>)
    </a>
</h3>
<div class="ezra_table element_tabel_regel mijlpaal_element">
    <div class="ui-accordion-inner">
    <table cellspacing="0" class="ezra_table_table sortable-element table-generic">
        <tbody>
            [% INCLUDE milestone_table_row %]
            [% FOREACH mregeli IN milestone.elementen.regels.keys.nsort %]
                [% mregel = milestone.elementen.regels.$mregeli %]
                [% INCLUDE milestone_table_row %]
            [% END %]
        </tbody>
    </table>
    <a  class="ezra_table_row_add"
        href="#"
        style="display: none;"
        title="Regel bewerken"
        rel="callback: ezra_zaaktype_regel_edit; newfddcallback:regel"
        ></a>
        <div class="mijlpaal_element_add_group">
        <a
            id="voegtoe"
            title="Voeg groep toe"
            class="ezra_regels_grouping_add button button-primary"
            href="[% formaction _ '/regelgroup/bewerken' %]"
            rel="callback: ezra_regels_grouping_add_dialog"
            >Voeg groep toe</a>
        </div>
    </div>
</div>
