[% INCLUDE layouts/default_header.tt %]
[% INCLUDE layouts/default_helper_diffs.tt %]

<div id="maincontainer"
	class="main-interface"
	ng-class="{ 'top-bar-expanded': spotEnlighterOpen }"
>
    [% INCLUDE layouts/default_container_top.tt %]
  
    <div id="contentwrapper" class="clearfix[% (layout_type == 'simple' ?  ' layout_simple' : '') %]">

        <div id="contentcolumn">
            <div class="innertube">
                <a 
                  class="skip-area"
                  id="content"  
                  href="" 
                  aria-label="Spring naar groene plus knop" 
                  zs-move-focus-to="#contextual-action-menu button"
                >
                  Spring naar groene plus knop
                </a>
                [% INCLUDE layouts/default_container_content.tt %]
            </div>
        </div>
    </div>
</div>

[% INCLUDE layouts/default_footer.tt %]
