[%-
  counter = 0;
  FOREACH subject IN openkvk_objects;
    bedrijf = subject.subject;
    handelsnaam = bedrijf.company;
    kvk = bedrijf.coc_number;
    vestigingsnummer = bedrijf.coc_location_number;

    address = bedrijf.address_residence;

    adres = address.street _ ' ' _ address.street_number;

    IF address.street_number_letter;
      adres = adres _ address.street_number_letter;
    END;

    IF address.street_number_suffix;
      adres = adres _ " " _ address.street_number_suffix;
    END;

    adres = adres _ ", " _ address.zipcode;

    adres = adres _ ', ' _ address.city;
%]

<label for="vestigingsnummer_override_[% counter %]">
  <input type="radio" name="vestigingsnummer_override"
         value="[% vestigingsnummer %]"
         id="vestigingsnummer_override_[% counter %]">
  [% vestigingsnummer %]: [% handelsnaam %], [% adres %]
</label>

[%- counter = counter + 1 %]
[%- END %]
