[% nowrapper = 1 -%]
<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: https://zaaksysteem.nl/ https://siteimproveanalytics.com https://www.googletagmanager.com https://www.gstatic.com/recaptcha/ https://www.google.com/recaptcha/api.js https://geodata.nationaalgeoregister.nl https://*.bus.koppel.app https://gistest.wetterskipfryslan.nl https://gisweb.heerhugowaard.nl https://plattegronden.gooisemeren.nl https://hofvantwente.obsurv.nl; frame-src 'self' https://gistest.wetterskipfryslan.nl/ https://gis.wetterskipfryslan.nl  https://www.google.com/ https://login.live.com/ https://*.officeapps.live.com/ https://*.bus.koppel.app; object-src 'self'; frame-ancestors 'self'; require-trusted-types-for 'script'; base-uri 'self'; connect-src *">
	<title>Zaaksysteem - [% c.get_customer_info.naam %] - Bedankt</title>
	<link rel="shortcut icon" href="/images/favicon.ico" />
	<link href="/css/base.css" type="text/css" rel="stylesheet" />
    <link href="/css/buttons.css" type="text/css" rel="stylesheet" />
</head>
<html class="gemeente_[% c.config.gemeente_id | lower %]">
<body>
    <div class="block block-first-ad-login">
        <div class="block-header">Inloggen met [% c.user.login_entity.source_interface_id.name %]</div>

        <div class="blockcontent">
            [% IF first_login_confirmation.length -%]
            <p>[% first_login_confirmation |  html_para_break %]</p>
            [% END -%]

            <div class="row">
                <div class="column large-4"><b>Aangevraagde afdeling:</b></div>
                <div class="column large-8">[% c.user.preferred_group.name %]</div>
            </div>
        </div>
    </div>
</body>
</html>
