@import "../partials/dependencies";

$template-basic:true;

$body-bg:"none";
$template-width:960px;
$container-border:none;
$container-shadow:none;
$container-background:transparent;


$logo-url:"../../form/oude-ijsselstreek/img/logo.svg";
$primary-color: #004a93;
$secondary-color:#61ac1e;
$button-id-bg-color: #333;

$anchor-color:$primary-color;
$anchor-color-hover:lighten($primary-color,10%);
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:underline;

$font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size:100%;

$title-bg-color:transparent;
$title-text-color:$primary-color;
$title-font-weight:normal;
$title-padding-top:15px;
$title-font-size:2.5em;

$heading1-weight:normal;
$heading2-weight:normal !important;
$heading1-color:#000;
$heading2-color:#000;
$heading2-fontsize:1.5em !important;

$header-padding:10px 0;
$header-height:140px;
$header-bg:transparent;
$blockcontent-padding:20px 0;

$logo-margin:15px -12px 12px 15px;
$logo-height:83px;
$logo-width:315px;

$pip-nav-border-color:desaturate(lighten($primary-color,15%),20%);
$pip-nav-border-color-active:desaturate(lighten($primary-color,15%),20%);

$button-in-title-color:black;
$button-in-title-icon-color:black;


$stap-line-height:1.7;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";

html { 
  background: url(../../form/oude-ijsselstreek/img/bg-blurred.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,
body{
	height:auto;
}

body{
	padding-bottom:30px;
}

.pip{
	h2{font-size:1.6em !important;}
}

.block,.pip-nav{padding:0 20px;}
.pip-nav{padding:0;}

@media only screen and (max-width: $breakpoint-mobile) {
	body{
		font-size:87.5%;
		padding-bottom:0;
	}
	.block,
	.pip-nav{
		padding:0;
	}
	#logo{
		float:none !important;
		margin:15px auto;
	}
	.block-header{
		padding-left:10px !important;
		h1{
			font-size:2em !important;
		}
	}
}

@media only screen and (min-width: $breakpoint-mobile) {

	.block-content{
		padding:20px 0;
	}

}

#main{
	background:#fff;
	border-radius:2px;
}

#logo{
	float:right;
}

.block-header{
	padding-right:0;
	padding-left:0;
}

.pip .block-header{
	padding-right:20px;
	padding-left:20px;
}

.backstretch{
	left: 0px;
	top: 0px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	bottom:0px;
	right:0;
	width: 100%;
	z-index: -999999;
	position: fixed;
	background:url(../../form/oude-ijsselstreek/img/pattern.png) repeat center center fixed;
}

@import "template-media-queries";