[% nowrapper = 1 -%]
<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: https://zaaksysteem.nl/ https://siteimproveanalytics.com https://www.googletagmanager.com https://www.gstatic.com/recaptcha/ https://www.google.com/recaptcha/api.js https://geodata.nationaalgeoregister.nl https://*.bus.koppel.app https://gistest.wetterskipfryslan.nl https://gisweb.heerhugowaard.nl https://plattegronden.gooisemeren.nl https://hofvantwente.obsurv.nl; frame-src 'self' https://gistest.wetterskipfryslan.nl/ https://gis.wetterskipfryslan.nl  https://www.google.com/ https://login.live.com/ https://*.officeapps.live.com/ https://*.bus.koppel.app; object-src 'self'; frame-ancestors 'self'; require-trusted-types-for 'script'; base-uri 'self'; connect-src *">
	<title>Foutmelding</title>
	<link rel="shortcut icon" href="/images/favicon.ico" />
	<link href="/css/base.css" type="text/css" rel="stylesheet" />
</head>
<html class="error gemeente_[% c.config.gemeente_id | lower %]">
<body>
	<div class="error-message">
		<div class="error-image">
		</div>
		<div class="error-text">
			<div class="error-title">
				Er is een fout opgetreden
			</div>
			<div class="error-subtext">
				Excuses voor het ongemak
			</div>
            <div class="error-code">
                Supportcode: [% request_id %]
            </div>
            [% IF error_message -%]
            <div class="id_wrong">
                [% FOREACH msg = error_message %]
                    [% msg | html_entity %][% IF loop.index() < loop.max() %]<br>[% END %]
                [% END %]
            </div>
            [% END -%]
		</div>

	</div>
</body>
</html>
