[% USE JSON %]
[% USE Dumper %]

<!doctype html>
<html>
<head>
    <title>FlexPaper AdaptiveUI</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: https://zaaksysteem.nl/ https://siteimproveanalytics.com https://www.googletagmanager.com https://www.gstatic.com/recaptcha/ https://www.google.com/recaptcha/api.js https://geodata.nationaalgeoregister.nl https://*.bus.koppel.app https://gistest.wetterskipfryslan.nl https://gisweb.heerhugowaard.nl https://plattegronden.gooisemeren.nl https://hofvantwente.obsurv.nl; frame-src 'self' https://gistest.wetterskipfryslan.nl/ https://gis.wetterskipfryslan.nl  https://www.google.com/ https://login.live.com/ https://*.officeapps.live.com/ https://*.bus.koppel.app; object-src 'self'; frame-ancestors 'self'; require-trusted-types-for 'script'; base-uri 'self'; connect-src *">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" />
    <style type="text/css" media="screen">
        html, body	{ height:100%; }
        body { margin:0; padding:0; overflow:auto; }
        #flashContent { display:none; }
    </style>

    <link rel="stylesheet" type="text/css" href="/flexpaper/css/flexpaper.css" />
    <link href="/css/flexpaper-custom.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="[% c.uri_for ('/flexpaper/') %]js/jquery.min.js"></script>
    <script type="text/javascript" src="[% c.uri_for ('/flexpaper/') %]js/jquery.extensions.min.js"></script>
    <script type="text/javascript" src="[% c.uri_for ('/flexpaper/') %]js/flexpaper.js"></script>
        <!--script type="text/javascript" src="js/flexpaper_handlers.js"></script-->
    <script type="text/javascript" src="[% c.uri_for ('/flexpaper/') %]js/flexpaper_handlers_debug.js"></script>
</head>
<body>

<div id="documentViewer" class="flexpaper_viewer" style="position:absolute;top:0px;left:0px;right:0px; bottom: 0px; margin:0px; overflow: hidden;"></div>

<script type="text/javascript">
(function () {
    "use strict";

    if (!window.isTouchScreen) {
        $(window).resize(function () {
            $FlexPaper('documentViewer').resize(window.innerWidth,window.innerHeight);
        });
    }


[% pdf_file_url = zaak ?
    c.uri_for('/') _ 'zaak/' _ zaak.id _ '/document/' _ file_id _ '/download/pdf' :
    c.uri_for('/') _ 'zaak/intake/' _  file_id _ '/download/pdf'
%]

    var uiPage = window.isTouchScreen ? 'UI_flexpaper_mobile.html' : 'UI_flexpaper_desktop.html';

    jQuery.get('/flexpaper/' + uiPage, function(toolbarData) {
        jQuery('#documentViewer').FlexPaperViewer({
            config : {
                key                     : "@836ea42673a92bff921$6eb3755decedebf485f",
                PDFFile                 : '[% pdf_file_url %]',
                FullScreenAsMaxWindow   : false,
                localeDirectory         : '/flexpaper/locale/',
                ProgressiveLoading      : false,
                SearchMatchAll          : false,
                Toolbar                 : toolbarData,
                BottomToolbar           : '/flexpaper/UI_flexpaper_annotations.html',
                RenderingOrder          : 'html5',
                Scale                   : 1,
                ZoomTransition          : 'easeOut',
                ZoomTime                : 0.5,
                ZoomInterval            : 0.2,
                FitPageOnLoad           : true,
                FitWidthOnLoad          : false,
                MinZoomSize             : 0.2,
                MaxZoomSize             : 5,

                InitViewMode            : 'Portrait',
                StartAtPage             : '',

                ViewModeToolsVisible    : true,
                ZoomToolsVisible        : true,
                NavToolsVisible         : true,
                CursorToolsVisible      : true,
                SearchToolsVisible      : true,
                AnnotationToolsVisible  : true,
                WMode                   : 'window',
                localeChain             : 'en_US'
            }
        });
    });
}());
</script>

<script id="annotationsConfig" type="application/json">
    {
        "caseId": "[% zaak.id %]",
        "fileId": "[% file_id %]",
        "annotations": [% JSON.encode(annotations) %]
    }
</script>


</body>
</html>