[% UNLESS results && results.pager %]

Geen resultaten. <!-- debughere -->

	[% RETURN %]
[% END %]

<div class="spinner-groot"><div></div></div>


<input type="hidden" name="sort_field" value="[% sort_field | html %]"/>
<input type="hidden" name="sort_direction" value="[% sort_direction | html %]"/>
<input type="hidden" name="page" value="[% page | html %]"/>
<input type="hidden" name="pager_request" value="" />
<input type="hidden" name="total_entries" value="[% results.pager.total_entries %]"/>

[% IF results.pager.total_entries > 0 %]
<table class="[% IF pip %]pip-table[% END %][% UNLESS pip %]table_zaken_title v-align-center[% END %]" cellspacing="0">
    [% UNLESS pip %]
    <thead>
        <tr>
            [% IF checkbox %]
            <td class="td20">&nbsp;</td>
            [% END %]
			[% FOREACH my_display_field = display_fields %]
			    [% IF my_display_field.sortable %]
                    <td class="set_sort_order" id="[% my_display_field.fieldname %]">
                        [% IF my_display_field.fieldname == 'status' %]
                            <i class="icon-down icon"></i>
                        [% ELSE %]
                            <a href="#" [% (sort_field == my_display_field.fieldname ? ' class="' _ sort_direction _ ' sort"' : '') %]>[% my_display_field.label %]</a>
                        [% END %]				
                    </td>
                [% ELSE %]
                    <td id="[% my_display_field.fieldname %]">
                        [% IF my_display_field.fieldname == 'status' %]
                            <i class="icon-down icon"></i>
                        [% ELSE %]
                           [% my_display_field.label %]
                        [% END %]				
                    </td>
                [% END %]
			[% END %]
			[% UNLESS pip %]
                [% UNLESS checkbox %]<td class="td30">Acties</td>[% END %]
                <td class="td20">&nbsp;</td>
            [% END %]
		</tr>
	</thead>
    [% END %]

	<tbody>
	[% WHILE (zaak = results.next) %]
		[% IF(display_fields) %]	
			<tr class="select-row">
            [% IF checkbox %]
                <td class="td20">
                    <input type="checkbox" name="[% checkbox %]"
                    value="[% zaak.id %]"
                    >
                </td>
            [% END %]
				[% FOREACH my_display_field = display_fields %]
					<td class="field_[% my_display_field.fieldname.replace('\.','_') %]">
					[% PROCESS widgets/general/zaak_veld.tt 
					display_field = my_display_field.fieldname
					display_class = my_display_field.class
					%]
					</td>
					
				[% END %]
                [% UNLESS pip %]
                    [% UNLESS checkbox %]
                    <td>
                        [% PROCESS widgets/general/zaak_veld.tt 
                        display_field = 'Acties'
                        display_class = 'actie'
                        %]
                    </td>
                    [% END %]
                    <td class="td20">
                    [% zaak.scalar.file.scalar.is_alert %]
                        [% IF zaak.scalar.file.is_alert %]
                        <!-- TODO LET OP: Dit is tijdelijk, attachment icon -->
                        <a href="[% c.uri_for('/zaak/' _ zaak.nr _ '#zaak-elements-documents') %]" title="Er staan documenten in de wachtrij voor deze zaak" style="display:inline-block;">
                             <img
                             src="/images/icon-attachment.png"
                             width="16"
                             height="16"
                             alt=""
                             border="0" />
                         </a>
                         [% END %]
                     </td>
                [% END %]
			</tr>
		[% ELSE %]
			<tr><td>NEED display_fields array!</td></tr>
		[% END %]
	[% END %]
	</tbody>
</table>
[% ELSE %]

Geen resultaten.

[% END %]
