@import "partials/dependencies";

/* @group base */
@import "partials/zaakdossier/document-viewer";

.documents {
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.documents.ui-tabs-panel{
	padding: 0;
}

h3.document-list-title{
	margin-top: 15px;
	display: none;
}

.documents .document-component{
	padding: 1em;
	border:0.5em solid transparent;
	position: relative;
	background:#fff;
}

.documents button {
	padding: 0;
	margin: 0;
	cursor: pointer;
	color: #444;
}

.documents input[type="text"] {
	padding: 0;
	margin: 0;
	font: inherit;
	color: #444;
}

// shiny button

.shiny-btn{
	border: 1px solid #aaa;
	background-color: #fff;
	display: inline-block;
	margin-left: 4px;
}

.shiny-btn:hover{
	border-color: #333;
}

.shiny-btn[disabled] {
	border-color: #aaa;
	opacity: 0.5;
	background-color: lightgray;
}

.shiny-btn:active{
	background: #e0e0e0;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}


// top buttons */

.document-list:first-child {
	margin-top: 0;
}

.document-list-actions {
	margin: 0px 0 20px 0;
}

.document-list-actions > ul {
	list-style: none;
	text-align: right;
	width: 50%;
	display: inline-block;
	margin-right: -4px;
	vertical-align: middle;
}

.document-list-actions > ul:first-child {
	text-align: left;
}

.document-list-action:first-child {
	margin-left: 0;
}

.document-list-actions > ul > li > button{
	line-height: 27px;
	padding: 0 8px;
	width: 36px;
	height: 27px;
	border: none;
}

.document-list-actions > ul > li > form{
	margin: 0;
	padding: 0;
}

.document-list-search.document-list-action{
	background: none;
	box-shadow: none;
	border: none;
}

.document-list-action{
	vertical-align: middle;
	position: relative;
}

.document-list-actions button{
	background: url('/images/icons-docs.png') 3px -35px no-repeat;
}

.document-list-actions button.document-list-download-all{
	
}

.document-list-actions-left > li{
	float: left;
	margin: 0 0 0 -1px;
}

.document-list-actions-left > li:first-child{
	margin: 0;
	border-radius: 3px 0 0 3px;
}

.document-list-actions-left > li:last-child{
	border-radius: 0 3px 3px 0;
}

.document-list-actions-left > li.document-list-download-all{
	border-radius:3px !important;
	button{
		text-indent: 0;
		background: none;
		width:auto;

	}
}

.document-list-actions-left > li > button{
	text-indent: -9999px;
	padding: 0 14px !important;	
}

.document-list-create-folder > button{
	background-position: -30px -35px;
}

.document-list-create-from-template > button{
	background-position: -62px -35px;
}

.document-list-trash,
.document-list-list{
	border-radius: 2px;
}

.document-list-trash button{
	padding-left: 28px !important;
	background-position: -97px -36px;
	width: auto !important;
}

.document-list-list button{
	padding-left: 25px !important;
	background-position: 0px -66px;
	width: auto !important;
}

.document-list-search input{
    background: url("../images/icon-filter.png") no-repeat scroll 8px center #fff;
    border-color: #bbb;
    color: #212121;
    display: inline-block;
    font-weight: normal;
    padding: 0 6px 0 26px !important;
    text-decoration: none;
    width: 200px;
    line-height: 27px !important;
    vertical-align: middle;
}

.document-list-search input:focus{
    background-color: #fff;
    border-color: #aaa;
    box-shadow: 0 0 2px #bbb;
}

// action bar

.action-bar {
	list-style: none;
	height: 48px;
	vertical-align: middle;
	display: table;
}

.action-bar > li {
	display: inline-block;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	height: 48px;
}

.action-bar > li > button {
	border-radius:6px;
}

.action-bar > li > button,
.action-bar > li > div {
	margin-right: 6px;
	}

.action-bar > li > .action-bar-dropdown-menu {
	background: white;
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 230px;
	z-index: 2;
}

.action-bar > li > div > ul{
	list-style: none;
	border: 1px solid #aaa;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
}

.action-bar-dropdown-menu li {
	margin: 0;
	padding: 4px;
}

.action-bar-dropdown-menu li > button {
	line-height: 2.4;
	padding: 0 8px;
	font-size: 0.929em;
	white-space: nowrap;
	width: 100%;
	text-align: left;
}

.action-bar-dropdown-menu li > button:hover{
	background: #eee;
	cursor: pointer;
}

.action-bar-select {
	height: 32px;
	width: 40px;
	text-align: center;
	position:relative;
}

.action-bar-select input{
	position: relative;
}

.action-bar-dropdown-menu > ul {
	display: none;
}

.action-bar-dropdown-menu > ul.menu-open {
	display: block;
}

.action-bar-open-dropdown{
	width: 7px;
	height: 4px;
	background: url(/images/icons-docs.png) no-repeat -203px -79px;
	display: inline-block;
	margin: 0px 0 0 4px;
	vertical-align: middle;
	position: relative;
}

.action-bar-button{
	margin-right: 4px;
	font-size: 0;
}

.action-bar > li > button,
.action-bar > li > div > button,
.action-bar > li > div > a {
	vertical-align: middle;
	border:1px solid #b9b9b9;
	background: #f9f9f9;
	padding: 0 8px;
	color: #444;
	font-size: 13px;
	height: 30px;
}

.action-bar > li > button:hover,
.action-bar > li > div > button:hover,
.action-bar > li > div > a:hover {
	background: #f5f5f5;
	border-color: #555;
}

.action-bar > li > button:active,
.action-bar > li > div > button:active,
.action-bar > li > div > button:active {
	background: #e0e0e0;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
	border-color: #999;
}

.action-bar-dropdown-menu button{
	font-size: 0.929em;
	line-height: 1.6;
}

.action-bar-dropdown-split-button > div{
}

.action-bar-dropdown-split-button > div > div:hover{
	cursor: pointer;
}

.action-bar-dropdown-split-button > div .action-bar-open-dropdown{
	margin-left: 0;
}

.action-bar > li > button.action-bar-dropdown-toggle{
	border-left: 1px solid #BBBBBB;
	display: inline-block;
	width: 22px;
	border-radius: 0 6px 6px 0;
	margin-left: -1px !important;
	padding: 0 !important;
}

.action-bar-dropdown-toggle > .action-bar-open-dropdown{
	margin: 0;
}

.action-bar-button .action-bar-button-label {
	display: inline-block;
	border-radius: 6px 0 0 6px;
	margin: 0;
}


// row

.list-view {
	font-size: 1em;
	list-style: none;
	border:1px solid #ccc;
	border-top:none;
}

.list-view-col-state-desc,
.list-view-col-state-asc{
	font-size: 0.571em;
	line-height: 1;
}

.list-view-table-header {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}

.list-view-col {
	cursor: pointer;
}

.list-view-table-header > .list-view-entity-highlight {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;	
}

.list-view-table-header > div {
	display: table-cell;
	vertical-align: middle;
	height: 32px;
}

.list-view-list {
	list-style: none;
	width: 100%;
}

.list-view-entity-highlight,
.new-entity-options-row {
	display: table;
	table-layout: fixed;
	width: 100%;
	cursor: pointer;
	border-collapse: collapse;
}

.list-view-entity-highlight > div,
.new-entity-options-row > div {
	display: table-cell;
	vertical-align: middle;
	height: 32px;
}

.list-view-entity-options {
	width: 35px;
	text-align: center;
}

.list-view-depth-padding {
	width: 5px;
}

.list-view-list .list-view-entity-title {
	width: 100%;
	padding: 0 8px 0 0;
	display: table !important;
}

.ie8 .list-view-list .list-view-entity-title {
	display: table-cell !important;
}

.list-view-entity-name > span,
.list-view-entity-name > input {
	display: inline;
}

.list-view-entity-name > span,
.list-view-entity-name > p {
	padding-bottom: 2px;
	border-bottom: 2px solid transparent;
}

.list-view-entity-name > span {
	color:$anchor-color;
	text-decoration: underline;
}

.list-view-entity-name > span:hover {
	color:$anchor-hover-color;
}

.doc-info-icons{
	position:absolute;
	top:50%;
	margin-top:-8px;
	right:0;
}

.doc-info-icons i{
	float:right;
	margin-right:8px;
	color:#bbb;
}

.doc-info-icons i:hover{
	color:#000;
}

.list-view-entity-edit, 
.list-view-entity-type,
.list-view-entity-origin,
.list-view-entity-origin-date {
	font-size: 0.929em;
}

.list-view-entity-type,
.list-view-entity-origin,
.list-view-entity-origin-date {
	width: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.list-view-entity-origin-date {
	width: 100px;
}

.list-view-entity-type-ext{
	color: #aaa;
}

.list-view-entity-edit {
	width: 220px;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.list-view-entity-archivable {
	width: 50px;
	text-align: center;
}

.list-view-entity-edit .list-view-entity-label > span{
	margin: 0;
}

.list-view-entity-edit .list-view-entity-label > span:hover{
	cursor: pointer !important;
}

.list-view-entity-edit-revised {}

.list-view-entity-edit-revised:hover {
	text-decoration: none;
}

.list-view-entity-actions {
	width: 105px;
}

.list-view-entity-highlight > div{
	height: 48px;
	padding: 0 8px;
}

.list-view-list > li{
	display: block;
	margin: 0;
	padding: 0;
}

.list-view-entity-info{
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	margin: 0 0 -1px 0;
	font-size:1em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.list-view-entity-info:hover,
.list-view-entity-info.entity-selected  {
	border-color: #c6d8e4;
	background: #f7fcff;
}

.list-view-entity-info:hover,
.list-view-entity-info.entity-selected{
	z-index: 1;
	position: relative;	
}

.list-view-entity-title > .list-view-entity-title-text > div,
.list-view-entity-title > .list-view-entity-icon{
	display: inline;
	line-height: 1.5;
	margin-right: 4px;
}

.object-type-file:last-child .list-view-entity-info{
	border-bottom:none;
	margin:0;
}

.list-view-entity-title-text .list-view-entity-label span{
	margin: 0;
}

.list-view-table-header {
	font-weight: 600;
}

.action-bar-wrapper,
.list-view-table-header,
.list-view-root.list-view-entity-info{
	background: $background-color;
	border: 1px solid #a9a9a9;
	position: relative;
	z-index: 3;
	margin: 0 0 -1px;
}

.list-view-table-header,
.list-view-root.list-view-entity-info{
	border-right: none;
	border-left: none;
}

.list-view-root.list-view-entity-info {
	z-index: 2;
}

.list-view-root.list-view-entity-info .list-view-entity-title {
	padding-left: 12px;
}

.list-view-sort:hover{
	background: #eee;
}

.list-view-entity-desc{
	color: #999;
	font-size: 0.929em;
}

.list-view-entity-rejection-reason{
	position: absolute;
	right:5px;
	top:50%;
	margin-top:-8px;
}

.list-view-entity-rejection-reason i{
	color:red;
}

.list-view-entity-title{}

.list-view-entity-title > .list-view-entity-title-text{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	padding: 7px 0px;
	line-height: 1.1;
	position:relative;
}

.list-view-entity-title-text.has-publication-settings,
.list-view-entity-title-text.has-annotations{
	padding-right:35px;
}

.list-view-entity-title-text.has-publication-settings.has-annotations{
	padding-right:58px;
}

.list-view-entity-title input{
	padding: 4px !important;
	width: 50%;
	height: auto !important;
	line-height: 14px !important;
}

.file-list-empty-notice{
	height: 48px;
	line-height: 48px;
	color: #aaa;
	text-indent: 15px;
	margin: 1px 0 0;
	font-size:16px;
}

.list-view-list > li > ul > .file-list-empty-notice{
	text-indent: 45px;
}

.list-view-entity-edit-user{
	color: #aaa;
}

.object-type > .list-view-row > .list-view-entity-highlight {
	-webkit-transition: background 0.5s 0.5s ease;
	-moz-transition: background 0.5s 0.5s ease;
	-o-transition: background 0.5s 0.5s ease;
	-ms-transition: background 0.5s 0.5s ease;
	transition: background 0.5s 0.5s ease;
}

.object-type-updating > .list-view-row > .list-view-entity-highlight {
	border-color: rgba(0,0,0,0.15);
	background: #ffffcc;
	-webkit-transition: background 0.15s ease;
	-moz-transition: background 0.15s ease;
	-o-transition: background 0.15s ease;
	-ms-transition: background 0.15s ease;
	transition: background 0.15s ease;
}

.object-type > .list-view-row:hover {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}


// drag & drop

.documents .drag-over.document-component{
	padding: 1em;
	border: 0.5em solid #5b696f;
	position: absolute;
	top: 187px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.drop-zone-feedback{
	display: none;
	background: #5b696f;
	color: #fff;
	padding: 0 12px 8px 12px;
	position: absolute;
	top: 0;
	left: 50%;
	min-width: 250px;
	text-align: center;
	margin-left: -125px;
	font-size:0.786em;
	font-weight: bold;
	z-index: 100;
}

.drag-over .drop-zone-feedback{
	display: block;
}

.drag-over.list-view-row{
	background: #e5fdd0;
	border-color: #76A477;
	z-index: 1;
	position: relative;
}

.as-drag-image {
	position: fixed;
	z-index: 100;
}

.drag-image {
	border: 1px solid #ababab;
	background-color: #d9eefb;
	height: 38px;
	line-height: 38px;
	display: inline-block;
	position: fixed;
	z-index: 100;
	padding: 0 10px 0 5px;
}

.drag-mimetype-icon[data-mimetype],
.drag-mimetype-icon {
	display: inline-block;
	background: url(/images/icons-docs.png) no-repeat;
	width: 32px;
	height: 32px;
	vertical-align: middle;
	line-height: 32px;
}

.drag-label {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
}

.drag-mimetype-icon[data-mimetype="text/plain"],
.drag-mimetype-icon[data-mimetype="rtf"] { background-position: -32px 0; }
.drag-mimetype-icon[data-mimetype="vnd.ms-word"],
.drag-mimetype-icon[data-mimetype="vnd.openxmlformats-officedocument.wordprocessingml.document"] { background-position: -64px 0; }
.drag-mimetype-icon[data-mimetype="vnd.oasis.opendocument.text"] { background-position: -96px 0; }
.drag-mimetype-icon[data-mimetype="pdf"] { background-position: -128px 0; }
.drag-mimetype-icon[data-mimetype="jpg"],
.drag-mimetype-icon[data-mimetype="jpeg"] { background-position: -160px 0; }
.drag-mimetype-icon[data-mimetype="png"] { background-position: -192px 0; }
.drag-mimetype-icon[data-mimetype="gif"] { background-position: -224px 0; }
.drag-mimetype-icon[data-mimetype="vnd.ms-excel"],
.drag-mimetype-icon[data-mimetype="vnd.openxmlformats-officedocument.spreadsheetml.sheet"] {background-position: -384px 0;}



// intake

.document-list-visibility {
	padding: 0 0 20px;
}

.document-list-visibility-select {
	padding: 5px;
}

.document-list-intake-header h4{
	margin-bottom: 0;
}

.document-list-intake-header p{
	margin-bottom: 5px 0 10px;
}

.document-list-intake{
	border-bottom: 1px dashed #CCCCCC;
	margin: 0 -1.5em 1.5em;
	padding: 0 1.5em 25px;
}

.global-document-intake .document-list-intake{
	border: none;
	margin: 0 -1.5em;
}

.global-document-intake .new-entity-options{
	display: none;
}

.document-deny-modal .modal-body{
	width:450px;
}

.document-deny-modal input[type=text]{
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.new-entity-options .button140{
	margin:0px 0 20px 175px;
}

.document-list-intake .list-view-entity-info{
	border-color: rgba(0,0,0,0.15);
	background: #ffffcc;
}

.list-view-entity-actions button{
	text-indent: -9999px;
	width: 28px;
	height: 26px;
	position: relative;
	float: left;
	margin: 0 0 0 -1px;
}

.list-view-entity-actions button:first-child{
	border-radius: 2px 0 0 2px;
}

.list-view-entity-actions button:last-child{
	border-radius: 0 2px 2px 0;
}

.list-view-entity-actions button:hover{
	z-index: 1;
}

.list-view-entity-actions button span{
	background: url(/images/icons-docs.png) no-repeat;
	background-position: -356px -36px;
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -12px;
	margin-left: -12px;
}

.ie8 .list-view-entity-actions button span{
	top:auto;
}

.list-view-entity-actions .intake-document-reject span{
	background-position: -388px -36px;
}

.list-view-entity-actions .intake-document-edit span{
	background-position: -420px -36px;
}

.list-view-entity-actions .intake-document-register span{
	background-position: -324px -68px;
}

.list-view-entity-actions .intake-document-assign span{
	background-position: -356px -68px;
}

.document-list-intake .list-view-entity-info:hover{
	background: #ffffac;
	border-color: #c8c857;
}

.icon-integrity-ok{background-position: -201px -105px;}
.icon-integrity-not-ok{background-position: -233px -105px;}



// nieuw document opties

.new-entity-options{
	position: relative;
	border: 1px solid #c4c4bd;
	border-right: none;
	border-left: none;
	.form > .row{
		border-color:rgba(0,0,0,0.1);
	}
	.show-more{
		padding:14px 0 !important;
		margin-bottom:10px;
		font-weight: 600;
		border-bottom:none;
		&:hover{
			background-color: rgba(0,0,0,0.04);
		}
	}
}

.new-entity-options .inner{
	padding: 10px;
	overflow: hidden;
}

.new-entity-options-row{
	font-size: 0.929em;
	margin: 18px 0;
}

.new-entity-options-row-version{
	margin: 0;
}

.new-entity-options-row > div{
	vertical-align: top;
	height: auto;
}

.new-entity-options-label{
	width: 160px;
	text-align: right;
	padding: 0 15px 0 0;
	font-weight: bold;
}

.modal .new-entity-options-field{
	width: 350px;
}

.modal .new-entity-options-field label{
	display: block;
}

.new-entity-options label > input{
	margin: 6px 7px 6px 0;
}

.new-entity-options label{
	display: block;
}

.new-entity-options input[type=text]{
	padding: 5px;
	width:300px;
}

.new-entity-active{
	width: 16px;
	height: 8px;
	background: url(/images/icons-docs.png) no-repeat -233px -78px;
	position: absolute;
	right: 17px;
	top: -1px;
	z-index: 3;
}




// icons

.list-view-entity-icon{
	padding-right: 10px !important;
	position: relative;
	height: 48px;
	display: table-cell !important;
	vertical-align: middle;
}

.zaakdossier-afgehandeld{
	.list-view-entity-icon{
		padding-left:10px;
	}
	.action-bar{
		padding:0 10px;
	}
}

.list-view-entity-icon > div{
	background: url(/images/icons-docs.png) no-repeat;
	width: 32px;
	height: 32px;
	position: relative;
}

.icon-docs{
	background-image: url(/images/icons-docs.png);
	background-repeat: no-repeat;
}

.object-type-file .the-icon{background-position: 0 0;}
.object-type-folder .the-icon{background-position: -320px 0;}
.object-type-folder .folder-collapsed .the-icon{background-position: -288px 0;}
.object-type-folder .object-type-file .folder-collapsed .the-icon,
.object-type-folder .object-type-file .the-icon{background-position: 0 0;}


.object-type-file[data-mimetype="text/plain"] .the-icon,
.object-type-file[data-mimetype="rtf"] .the-icon { background-position: -32px 0; }
.object-type-file[data-mimetype="vnd.ms-word"] .the-icon,
.object-type-file[data-mimetype="vnd.openxmlformats-officedocument.wordprocessingml.document"] .the-icon { background-position: -64px 0; }
.object-type-file[data-mimetype="vnd.oasis.opendocument.text"] .the-icon{ background-position: -96px 0; }
.object-type-file[data-mimetype="vnd.oasis.opendocument.spreadsheet"] .the-icon {background-position: -448px 0; }
.object-type-file[data-mimetype="pdf"] .the-icon { background-position: -128px 0; }
.object-type-file[data-mimetype="jpg"] .the-icon,
.object-type-file[data-mimetype="jpeg"] .the-icon { background-position: -160px 0; }
.object-type-file[data-mimetype="png"] .the-icon { background-position: -192px 0; }
.object-type-file[data-mimetype="gif"] .the-icon { background-position: -224px 0; }
.object-type-file[data-mimetype="vnd.ms-excel"] .the-icon,
.object-type-file[data-mimetype="vnd.openxmlformats-officedocument.spreadsheetml.sheet"] .the-icon{background-position: -384px 0;}
.object-type-file[data-mimetype="vnd.ms-powerpoint"] .the-icon,
.object-type-file[data-mimetype="vnd.openxmlformats-officedocument.presentationml.presentation"] .the-icon{background-position: -416px 0;}



.object-type-folder .open .the-icon { background-position: -320px 0; }
.object-type-folder .collapsed .the-icon { background-position: -288px 0; }



// preview

.list-view-entity-icon > div.the-eye{
	background-position: -288px -32px;
	position: absolute;
	top: 50%;
	left: 0;
	width: 32px;
	height: 32px;
	z-index: 100;
}

.document-list-intake .list-view-entity-icon > div.the-eye{
	background-position: -320px -32px;
}

.file-preview {
	position: fixed;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.15s 0.25s ease;
	-moz-transition: opacity 0.15s 0.25s ease;
	-o-transition: opacity 0.15s 0.25s ease;
	-ms-transition: opacity 0.15s 0.25s ease;
	transition: opacity 0.15s 0.25s ease;
	height: 593px;
	width: 469px;
	margin-left: -42px;
	padding-bottom: 4px;
}

.file-preview[data-zs-file-preview-horizontal-orientation="right"] {
	margin-left: 14px;
}

.file-preview-visible {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.15s 0s ease;
	-moz-transition: opacity 0.15s 0s ease;
	-o-transition: opacity 0.15s 0s ease;
	-ms-transition: opacity 0.15s 0s ease;
	transition: opacity 0.15s 0s ease;
}

.file-preview-content {
	width: 416px;
	padding: 8px;
	height: 583px;
	background: #fff;
	border: 1px solid #aaa;
	box-shadow: 0 0 4px rgba(0,0,0,0.15);
	position: absolute;
	z-index: 0;
	left: 0;
	overflow: hidden;
}

.file-preview-arrow {
	position: absolute;
	z-index: 1;
	width: 13px;
	height: 20px;
	background: url(/images/icons-docs.png) no-repeat -266px -38px;
	right: 42px;
}

.file-preview[data-zs-file-preview-horizontal-orientation="right"] > .file-preview-content {
	left: 13px;
}

.file-preview[data-zs-file-preview-horizontal-orientation="right"] > .file-preview-arrow {
	left: 5px;
	background: url(/images/icons-docs.png) no-repeat -234px -38px;
}

/// label

.case-documents-bar{
	padding: 8px;
	background: desaturate(darken($background-color,7%),10%);
	border: 1px solid #bbb;
	border-bottom:none;
}

.case-documents-bar > ul{
	float: left;
}

.case-documents-bar > ul > li.case-documents-bar-title{
	display: none;
}

.case-documents-bar > ul > li > small{
	font-size: 0.786em;
	font-weight: bold;
	color: #888;
	margin: 0 5px;
}

.case-documents-bar > ul{
	list-style: none;
}

.list-view-entity-label,
.list-view-entity-title div.list-view-entity-label{
	display: inline-block;
	line-height: 1;
	padding:1px;
	vertical-align: middle;
}

.list-view-entity-label-publish.list-view-entity-label span,
.list-view-entity-label-publish.list-view-entity-label span:hover{
	background:#ddd;
	color:#555;
}

.list-view-entity-label span.new,
.list-view-entity-label.list-view-entity-label-revision span,
.list-view-entity-label.list-view-entity-label-revision span:hover{
	background: rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.35);
}	

.list-view-entity-label .item-label{
	background: $primary-color;
	margin-right:3px;
}

.list-view-entity-label .item-label:hover{
	background: darken($primary-color,15%);
	cursor:move;
}

.list-view-entity-label-publish.list-view-entity-label span:hover{
	cursor:default;
}



// progress bar

.document-upload-component {
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity = 0);
	-webkit-transition: opacity 0.5s 10s ease, visibility 0s 10s;
	-moz-transition: opacity 0.5s 10s ease, visibility 0s 10s;
	-ms-transition: opacity 0.5s 10s ease, visibility 0s 10s;
	-o-transition: opacity 0.5s 10s ease, visibility 0s 10s;
	transition: opacity 0.5s 10s ease, visibility 0s 10s;
	position: fixed;
	width: 534px;
	height: 3.5em;
	background: #d1eafc;
	border: 1px solid #7d93a2;
	bottom: -1px;
	left: 50%;
	margin-left: -275px;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	padding: 1em;
	font-size: 0.786em;
	font-weight: bold;
	color: #515e63;
	z-index: 100;
}

.document-upload-component.document-upload-component-error{
	height: auto;
}

.document-upload-component-visible {
	visibility: visible;
	opacity: 1;
	filter: alpha(opacity = 100);
	-webkit-transition: opacity 0.25s ease;
	-moz-transition: opacity 0.25s ease;
	-ms-transition: opacity 0.25s ease;
	-o-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
}

.doc-ul-progress-bar{
	border: 1px solid #7d93a2;
	background: #fff;
	padding: 1px;
	height: 0.929em;
	margin-bottom: 4px;
}

.doc-ul-progress-bar-inner{
	background: #328fce url(/images/doc-ul-progress-bar-bg.png);
	background-position: 0 -10px;
	height: 0.929em;
	-webkit-transition: width 0.15s ease, background-position;
	-moz-transition: width 0.15s ease;
	-ms-transition: width 0.15s ease;
	-o-transition: width 0.15s ease;
	transition: width 0.15s ease;
}

.doc-ul-progress-info{
	padding: 0 2px;
}

.doc-ul-progress-result{
	height: 4em;
	display: table-cell;
	vertical-align: middle;
}

.doc-ul-progress-result.doc-ul-progress-result-error{
	height: auto;
}

.doc-ul-progress-result > div{
	padding: 0 10px 0 5px;
}

.doc-ul-progress-result > div > i{
	vertical-align: middle;
	margin-right: 2px;
	background-image:url("/images/icons-docs.png");
	display: inline-block;
	width: 24px;
	height: 24px;
}

.doc-ul-progress-done > i{
	background-position: -356px -36px;
}

.doc-ul-progress-error > span{
	color: red;
}

.doc-ul-progress-error > i{
	background-position: -388px -68px;
}



// version control popup

.version-control{
	width: 820px;
}

.version-control ul{
	height: 180px;
	overflow: auto;
	border: 1px solid #bbb;
	background: #f9f9f9;
}

.version-control h3{
	font-size: 1.1em;
	color: #444;
	line-height: 2;
	margin-top: 10px;
	margin-bottom:5px;
}

.version-control h3:first-child{
	margin-top: 0;
}

.version-control li{
	padding: 9px 11px;
	border-bottom: 1px solid #ddd;
	list-style: none;
	line-height: 22px;
	a{
		text-decoration: underline;
	}
}

.version-control li span{
	color: #aaa;
}

.version-control li span .divide{
	margin: 0 2px;
}

.version-control .version-control-version-list li:hover{
	background: #eee;
	cursor: pointer;
}

.version-control li strong{
	font-weight: 600;
	&:hover{
		cursor: pointer;
	}
}

.version-control span.current-version-message{
	margin:0 5px;
	color: #000;
	font-weight: bold;
}

.version-control-log{
	li{
		position: relative;
	}
	pre{
		padding-right:160px;
		white-space: inherit;
	}
	span{
		position: absolute;
		right:10px;
		top:50%;
		margin-top:-10px;
	}
}




// context menu

.doc-dropdown-menu {
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	color: black;
	z-index: 100 !important;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.25);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	padding: 6px 0;
	min-width: 230px;
}

.doc-dropdown-menu ul {
	list-style: none;
}

.doc-dropdown-menu li {
	padding: 0;
	margin: 0;
}

.doc-dropdown-menu .doc-dropdown-menu-item{
	border: none;
	padding: 6px 0 6px 14px;
	background: transparent;
	line-height: 1.4;
	width: 100%;
	text-align: left;
	color:#333;
	display: inline-block;
	box-sizing:border-box;
	font-size:14px;
}

.doc-dropdown-menu span.doc-dropdown-menu-item{
	background: url(/images/icons-docs.png) no-repeat 204px -99px;
}

.doc-dropdown-menu .doc-dropdown-menu-item:hover,
.doc-dropdown-menu .element-menu-open > .doc-dropdown-menu-item {
	color: #fff;
	background: rgb(92,106,112);
	cursor: pointer;
}

.doc-dropdown-menu > ul > hr {
	border: 0;
	height: 1px;
	margin-top: 6px;
	margin-bottom: 6px;
	background-color: #ebebeb;
}

.case-type-doc button{
	padding-left: 35px !important;
	position: relative;
}

.case-type-doc.case-type-doc-active button i{
	width: 16px;
	height: 16px;
	position: absolute;
	left: 10px;
	background:url(/images/icons-docs.png) no-repeat -360px -40px;
}

.case-type-doc.case-type-doc-active button{
	background: #f0f0f0;
}







[data-zs-dropdown-menu-decorate] > ul {
	display: none;
}

[data-zs-dropdown-menu-decorate] > ul.menu-open {
	display: block;
}

[data-zs-hover-menu] {
	position: relative;
}

[data-zs-hover-menu] > ul {
	display: none;
	list-style: none;
	position: absolute;
	width: 100%;
}

[data-zs-hover-menu] > ul.menu-open {
	display: block;
}

.doc-context-menu [data-zs-hover-menu] ul {
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.25);
	background: white;
	padding: 4px 0;
	border: 1px solid #ccc;
}

.context-menu-overlay{
	z-index: 99;
}

.docs-inner-scroll-inner > div{
	position: absolute;
	top: 36px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

.inline-form {
	display: inline;
}

[data-ng-upload] {
	position: relative;
	overflow: hidden;
}

[data-ng-upload] > form {
	opacity: 0;
	filter: alpha(opacity = 0);
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

[data-ng-upload] > form > input[type="file"] {
	height: 100%;
	width: 100%;
}

.action-bar-button[data-ng-upload] > form {
	top: 8px;
}

.doc-context-menu [data-zs-file-api-supported="false"] {
	display: none;
}

.block-doc-intake-form{
	margin:20px;
	border:1px solid $background-color-border;
	background: lighten($background-color,5%);
	.block-header{
		padding:20px 0;
		border-bottom:1px solid #ddd;
	}
	tr:last-child td{
		border-bottom:none;
	}
}

.modal-content form[name=assignFileForm]{
	width:800px;
}

form[name=assignFileForm] .spot-enlighter-wrapper{
	width:100%;
}

.document-intake{
	max-width: 85rem;
    padding: 1.5rem 6.5rem;
    margin:0 auto;
	.block-header{
		display: none;
	}
}
