@import "partials/dependencies";
@import "partials/graphic-icons";
@import "partials/font-awesome";
@import "../../../../client/node_modules/mdi/scss/materialdesignicons";

.mdi{
	font-size:1.6rem;
}

a{
	.icon-font-awesome,
	.mdi{
		text-decoration: none;
		display: inline-block;
	}
}

.icon-green{color:$icon-green !important;}
.icon-red{color:$icon-red !important;}
.icon-blue{color:$icon-blue !important;}
.icon-light-blue{color:$icon-light-blue !important;}
.icon-purple{color:$icon-purple !important;}
.icon-orange{color:$icon-orange !important;}
.icon-black{color:black !important;}
.icon-grey{color:$icon-grey !important;}
.icon-yellow{color:$icon-yellow !important;}
.icon-dark-blue{color:$icon-dark-blue !important;}


// icons catalog

.mdi.icon-ztc{
	font-size:1.4rem;
}

.icon-ztc-case:before{
	content: mdi('cube');
	color:$icon-green;
}

.icon-ztc-sjablonen:before{
	content: mdi('file');
	color:$icon-grey;
}

.icon-ztc-kenmerken:before{
	content: mdi('puzzle');
	color:$icon-red;
}

.icon-ztc-notificatie:before{
	content: mdi('email');
	color:$icon-yellow;
}

.icon-ztc-object:before{
	content: mdi('hexagon-outline');
	color:$icon-light-blue;
}

.icon-ztc-folder:before{
	content: mdi('folder');
	color:$icon-blue;
}


// icon status

.icon-status{
	font-size:1.4em;
}

.icon-status-open:before{
	content: "\f40c";
	color:$icon-blue;
}

.icon-status-new:before{
	content: "\f4cf";
	color:$icon-yellow;
}

.icon-status-resolved:before{
	content: "\f133";
	color:$icon-green;
}

.icon-status-stalled:before{
	content: "\f3e5";
	color:$icon-grey;
}

.icon-status-overdragen:before{
	content: "\f056";
	color:$icon-light-blue;
}

.icon-status-deleted:before{
	content: "\f159";
	color:$icon-red;
}

.title-with-icon{
	.title-with-icon-icon,.title-with-icon-text{
		display: inline-block;
		 vertical-align: middle;
	}
}

// oude zaakdossier actie icons

.case-action-case .case-action-icon:after{
    content: mdi('folder-multiple');
    color:$icon-blue;
}

.case-action-template .case-action-icon:after{
    content: mdi('file');
    color:$icon-grey;
}

.case-action-email .case-action-icon:after{
     content: mdi('email');
     color:$icon-yellow;
}

.case-action-allocation .case-action-icon:after{
    content: mdi('account');
    color:$icon-red;
}

.case-action-object_mutation .case-action-icon:after{
    content: mdi('email');
    color:$icon-light-blue;
}