<div class="contact-cases-header">

    <zs-dropdown-menu
        data-options="$ctrl.getCaseWidgetOptions()"
        button-label="{{$ctrl.getCurrentlySelectedCaseWidgetOption()}}"
        button-icon="menu-down"
        button-icon-options="'right'"
        button-style="{'btn': true, 'btn-flat': true }"
        position-options="{ attachment: 'top left', target: 'bottom left', flip: true, updateOn: 'default watch' }"
    >
    </zs-dropdown-menu>

    <zs-spinner class="spinner-small" is-loading="$ctrl.isFetching()"></zs-spinner>

    <div class="contact-cases-header-buttons">
        <button
            class="btn btn-flat btn-round contact-cases-search-button"
            ng-click="$ctrl.toggleSearch()"
            zs-tooltip="Zaken doorzoeken"
            zs-tooltip-options="{ attachment: 'top right', target: 'top right', offset: { x: 25, y: -35 } }"
        >
            <zs-icon icon-type="magnify"></zs-icon>
        </button>
    </div>

    <div
        class="contact-cases-search list-search"
        ng-if="$ctrl.isSearchOpen()"
    >
        <zs-icon icon-type="magnify"></zs-icon>
        <input
            ng-model="$ctrl.searchQuery"
            ng-model-options="{ debounce: { default: 250, blur: 0 }, updateOn: 'blur default' }"
            ng-change="$ctrl.handleSearchQuery()"
            ng-keyup="$ctrl.handleSearchKeyUp($event)"
            placeholder="Doorzoek zaken"
        />
        <button
            class="button-reset contact-cases-search-close-button list-search-close-button" 
            ng-click="$ctrl.toggleSearch()"
        >
            <zs-icon icon-type="close-circle"></zs-icon>
        </button>
    </div>

</div>

<zs-case-widget
    widget-data="$ctrl.getCaseWidgetData()"
    data-compact="$ctrl.isCompact()"
    data-loading="$ctrl.isLoading()"
    on-data-change="$ctrl.reloadData()"
>
</zs-case-widget>

<zs-pagination
	current-page="$ctrl.getCurrentPage()"
	on-page-change="$ctrl.handlePageChange($page)"
	has-next-page="$ctrl.hasNextPage()"
	has-prev-page="$ctrl.hasPrevPage()"
	data-limit="$ctrl.getLimit()"
	on-limit-change="$ctrl.handleLimitChange($limit)"
	is-loading="$ctrl.isLoading()"
	ng-show="!$ctrl.isEmpty()"
>
</zs-pagination>