.row{
	position: relative;
	.row-actions{
		position: absolute !important;
		right:0;
		top:50%;
		margin-top:-11px;	
		background: white;
		position: relative;
	}
	.row-actions-text-overflow{
		&:before{
			content: "";
	        background-image: linear-gradient(to left, #fff 0%, #fff 50%, rgba(255,255,255,0) 100%);
	        width: 50px;
	        height: 100%;
	        position: absolute;
	        left: -50px;
		}
	}
}

.webformcontent .row .row-actions{
	margin-top:0;
	top:7px;
}

.row-single-action{
	padding:0 23px 0 0;
}

.row-double-action{
	padding:0 46px 0 0;
}

.row-actions{
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	a{
		text-decoration: none;
	}
	button{
		background: none;
	}
	.row-action{
		margin:0 2px;
		display: inline-block;
	}
	a .icon-font-awesome,.mdi,.icon-font-awesome{
		color:#aaa;
		&:hover{
			color:#000;
		}
	}
	.mdi{
		font-size:1.4em;
	}
	.dropdown-icon{
		width:18px !important;
	}
	&.row-actions-left{
		text-align: left;
	}
	.dropdown-icon{
		height:auto !important;
	}
}

.row-details{
	margin-right: 50px;
}

.row-detail{
	display: inline-block;
	min-width: 20px;
	font-size: 0.8rem;
}

td.row-actions{
	display: table-cell;
}

.row-in-column{
	margin-bottom:6px !important;
}